@import "variables";

@import "mixins";

@import "functions";

@import "functions";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  position: relative;
  background: $red;
  font-family: $sansserif;
  font-size: 100%;
  line-height: 1.5;
  color: #fff;
  margin: 0;
}

h1, h2, strong {
  font-weight: 500;
}

a {
  color: #fff;
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}
li {
  display: inline-block;
}

html,
body,
.Sitehead,
.Content,
.Sitehead-wrapper{
  height: 100%;
}

.Sitehead-wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
.Sitehead-inner {
  position: absolute;
  top: auto;
  bottom: 20%;
}

.Sitehead-inner a {
  font-size: .5em;
  margin-top: 1em;
}

.Sitehead-title {
  font-size: 120px;
  line-height: 1;
  margin: 0;
}
.Sitehead-subtitle {
  margin: 0;
  margin-top: .5em;
  letter-spacing: 1px;
  line-height: 1.2;
  font-size: 1.75em;
}

.Navigation {
  position: absolute;
  top: 7px;
  right: 7%;
  right: calc(5% - 1.75em);
  font-size: 1.05em;
}

.Navigation a {
  padding: 1.5em 2.25em;
}

.Navigation-toggle {
  display: none;
}

.Sitemain {
  background: $coop;
}


@include respond-max($threshold) {
  .Sitehead-inner {
    top: 50%;
    bottom: auto;
  }
  .Navigation {
    display: none;
  }
}