@import "variables";

@import "mixins";

@import "functions";




@font-face {
  font-family: 'Charter';
  src: url('/#{$fonts}/charter_regular-webfont.eot');
  src: url('/#{$fonts}/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/#{$fonts}/charter_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vincent';
  src: url('/#{$fonts}/vincent.eot');
  src: url('/#{$fonts}/vincent.eot?#iefix') format('embedded-opentype'),
    url('/#{$fonts}/vincent.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

%icon {
  position: relative;

  font-family: 'vincent';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon, .icon:before  {
  @extend %icon;
}

.icon-mail:before {
  top: .2em;
  content: "\21";
}
.icon-github:before {
  content: "\22";
}
.icon-twitter:before {
  content: "\23";
}
/*
.icon-googleplus:before {
  content: "\24";
}
*/
.icon-linkedin:before {
  content: "\25";
}
/*
.icon-dribbble:before {
  content: "\26";
}
.icon-spotify:before {
  content: "\27";
}
.icon-home:before {
  content: "\28";
}
.icon-pencil:before {
  content: "\29";
}
.icon-pencil2:before {
  content: "\2a";
}
.icon-quill:before {
  content: "\2b";
}
.icon-image:before {
  content: "\2c";
}
.icon-image2:before {
  content: "\2d";
}
.icon-images:before {
  content: "\2e";
}
.icon-camera:before {
  content: "\2f";
}
.icon-headphones:before {
  content: "\30";
}
.icon-play:before {
  content: "\31";
}
.icon-camera2:before {
  content: "\32";
}
.icon-file2:before {
  content: "\33";
}
.icon-tag:before {
  content: "\34";
}
.icon-tags:before {
  content: "\35";
}
.icon-phone:before {
  content: "\36";
}
.icon-location:before {
  content: "\37";
}
.icon-compass:before {
  content: "\38";
}
.icon-bubble:before {
  content: "\39";
}
.icon-bubbles:before {
  content: "\3a";
}
.icon-bubbles2:before {
  content: "\3b";
}
.icon-spinner:before {
  content: "\3c";
}
.icon-spinner2:before {
  content: "\3d";
}
.icon-spinner3:before {
  content: "\3e";
}
.icon-spinner4:before {
  content: "\3f";
}
.icon-spinner5:before {
  content: "\40";
}
.icon-spinner6:before {
  content: "\41";
}
.icon-user:before {
  content: "\42";
}
.icon-quotes-left:before {
  content: "\43";
}
.icon-cog:before {
  content: "\44";
}
.icon-cog2:before {
  content: "\45";
}
.icon-cogs:before {
  content: "\46";
}
.icon-mug:before {
  content: "\47";
}
.icon-airplane:before {
  content: "\48";
}
.icon-truck:before {
  content: "\49";
}
.icon-list:before {
  content: "\4a";
}
.icon-cloud:before {
  content: "\4b";
}
.icon-earth:before {
  content: "\4c";
}
.icon-link:before {
  content: "\4d";
}
.icon-star:before {
  content: "\4e";
}
.icon-heart:before {
  content: "\4f";
}
.icon-bookmark:before {
  content: "\50";
}
.icon-eye:before {
  content: "\51";
}
.icon-happy:before {
  content: "\52";
}
.icon-smiley:before {
  content: "\53";
}
.icon-smiley2:before {
  content: "\54";
}
.icon-happy2:before {
  content: "\55";
}
.icon-cancel-circle:before {
  content: "\56";
}
.icon-checkmark-circle:before {
  content: "\57";
}
.icon-checkmark:before {
  content: "\58";
}
*/
.icon-close:before {
  content: "\59";
}
/*
.icon-minus:before {
  content: "\5a";
}
.icon-plus:before {
  content: "\5b";
}
.icon-volume-medium:before {
  content: "\5c";
}
.icon-loop:before {
  content: "\5d";
}
.icon-arrow-up:before {
  content: "\5e";
}
.icon-arrow-right:before {
  content: "\5f";
}
.icon-arrow-down:before {
  content: "\60";
}
.icon-arrow-left:before {
  content: "\61";
}
.icon-arrow-up2:before {
  content: "\62";
}
.icon-arrow-right2:before {
  content: "\63";
}
*/
.icon-arrow-down2:before {
  content: "\64";
}
/*
.icon-arrow-left2:before {
  content: "\65";
}
.icon-arrow-up3:before {
  content: "\66";
}
.icon-arrow-right3:before {
  content: "\67";
}
.icon-arrow-down3:before {
  content: "\68";
}
.icon-arrow-left3:before {
  content: "\69";
}
.icon-checkbox-unchecked:before {
  content: "\6a";
}
.icon-checkbox-partial:before {
  content: "\6b";
}
.icon-radio-checked:before {
  content: "\6c";
}
.icon-radio-unchecked:before {
  content: "\6d";
}
.icon-feed:before {
  content: "\6e";
}
.icon-print:before {
  content: "\6f";
}
.icon-file:before {
  content: "\70";
}
*/