@media print {

  * {
    background: none;
    box-shadow: none;
    color: #000;
    text-shadow: none;
  }

  a {
    text-decoration: underline;
    border: 0 !important;
    font-size: 1em;
  }

  .Head--front {
    margin: 0;
  }

  .WorkExcerpt-title {
    font-size: 28px;
    font-weight: var(--font-normal);
  }

  .Banner {
    display: none;
  }

  .Foot {
    border-top: 1px solid #ccc;
  }

  .Foot-slap {
    display: none;
  }

  .Head-logo {
    text-decoration: none !important;
  }

  .Head-navItem {
    display: none;
  }

}
