*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  font-weight: var(--font-normal);
  font-size: 16px;
  line-height: var(--font-lineheight-sm);
  font-family: var(--font-sansserif);
  color: var(--color-text);
  background-color: var(--color-background);
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: inherit; /* fix for mix-blend-mode in chrome */
}

::selection {
  background-color: #00324b;
  color: #d1bfb4;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body,
figure,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

strong {
  font-weight: var(--font-bold);
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
  border-style: none;
}

video {
  pointer-events: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

ul,
ol {
  list-style: none;
}

[hidden] {
  display: none;
}

a[href^="http:"]::after,
a[href^="https:"]::after {
  content: " - External link";
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
