html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
dl,
dd,
h1,
h2,
figure,
p,
pre,
ul {
  margin: 0;
  font: inherit;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

strong {
  font-weight: var(--text-bold);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

abbr {
  cursor: help;
  text-decoration: none;
}
