@custom-media --xs-viewport (min-width: 300px);
@custom-media --sm-viewport (min-width: 600px);
@custom-media --md-viewport (min-width: 800px);
@custom-media --lg-viewport (min-width: 1200px);
@custom-media --xl-viewport (min-width: 1600px);
@custom-media --xs-max-viewport (max-width: 300px);
@custom-media --sm-max-viewport (max-width: 600px);
@custom-media --md-max-viewport (max-width: 800px);
@custom-media --lg-max-viewport (max-width: 1200px);
@custom-media --xl-max-viewport (max-width: 1600px);

:root {
  --color-gray: #999;
  --color-text: #080808;
  --color-background: #fcfbfe;
  --text-sansserif: "GT Walsheim Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
  --text-normal: 400;
  --text-bold: 600;
  --text-lineheight-small: 1.1;
  --text-lineheight-large: 1.6;
  --text-size: 1.1em;
  --text-size-lg: 1.3em;
  --global-spacing: 8vw;
  --global-spacing-xs: 30px;
  --global-spacing-sm: 60px;
  --global-spacing-md: 115px;
  --global-spacing-lg: 160px;
  --global-spacing-xl: 200px;

  font: var(--text-normal) 16px/var(--text-lineheight-small) var(--text-sansserif);
  color: var(--color-text);
  background: var(--color-background);
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-background: #1f152e;
  }
}

@media (--sm-viewport) {
  :root {
    --text-size: 1.2em;
    --text-size-lg: 1.5em;
  }
}

@media (--lg-viewport) {
  :root {
    --text-size: 1.4em;
    --text-size-lg: 1.7em;
  }
}

@media (--xl-viewport) {
  :root {
    --text-size: 1.6em;
    --text-size-lg: 2.2em;
  }
}
