@custom-media --xs-viewport (min-width: 300px);
@custom-media --sm-viewport (min-width: 600px);
@custom-media --md-viewport (min-width: 800px);
@custom-media --lg-viewport (min-width: 1200px);
@custom-media --xl-viewport (min-width: 1700px);
@custom-media --xs-max-viewport (max-width: 300px);
@custom-media --sm-max-viewport (max-width: 600px);
@custom-media --md-max-viewport (max-width: 800px);
@custom-media --lg-max-viewport (max-width: 1200px);
@custom-media --xl-max-viewport (max-width: 1700px);


:root {
  --color-blue: #0074D9;
  --color-gold: #b69853;
  --color-gray-dark: #666;
  --color-gray-light: #eee;
  --color-green: #45b68a;
  --color-navy: #001F3F;
  --color-orange: #f25f30;
  --color-pink: #e763ae;
  --color-purple: #6701CD;
  --color-red: #FF3F2C;
  --color-text: #222;
  --color-yellow: #f0db24;

  --color-coop1: #C0E18C;
  --color-coop2: #00AD25;
  --color-coop3: #f3f5f0;
  --color-rikskriscentrum1: #0074d9;
  --color-rikskriscentrum2: #f0f8ff;
  --color-arcini: #222;
  --color-pansarfilm: #ffcdcd;

  --font-monospace: monospace;
  --font-sansserif: "Roboto", sans-serif;
  --font-serif: Georgia, serif;
  --font-normal: 300;
  --font-bold: 500;
  --text-lineheight-small: 1.2;
  --text-lineheight-large: 1.7;

  --site-width: 1600px;
  --site-width-narrow: 850px;
  --site-background: #fff;
  --site-spacing-percent: 7vw;
  --site-spacing-sm: 60px;
  --site-spacing-md: 100px;
  --site-spacing-lg: 160px;
  --site-spacing-xl: 200px;
}
