@custom-media --xs-viewport (min-width: 300px);
@custom-media --sm-viewport (min-width: 600px);
@custom-media --md-viewport (min-width: 800px);
@custom-media --lg-viewport (min-width: 1200px);
@custom-media --xl-viewport (min-width: 1700px);
@custom-media --xs-max-viewport (max-width: 300px);
@custom-media --sm-max-viewport (max-width: 600px);
@custom-media --md-max-viewport (max-width: 800px);
@custom-media --lg-max-viewport (max-width: 1200px);
@custom-media --xl-max-viewport (max-width: 1700px);

:root {
  --color-gray-dark: #999;
  --color-gray-light: #eee;
  --color-text: #222;

  --font-sansserif: "Roboto", sans-serif;
  --font-normal: 300;
  --font-bold: 500;
  --text-lineheight-small: 1.2;
  --text-lineheight-large: 1.6;

  --site-width: 1600px;
  --site-width-narrow: 800px;

  --site-spacing-percent: 7vw;
  --site-spacing-sm: 60px;
  --site-spacing-md: 100px;
  --site-spacing-lg: 160px;
  --site-spacing-xl: 200px;
}
