@media print {
  * {
    background: none;
    box-shadow: none;
    color: #000;
    text-shadow: none;
  }

  a {
    text-decoration: underline;
    border: 0 !important;
    font-size: 1em;
  }

  .u-printHide {
    display: none;
  }

  .Foot {
    border-top: 1px solid var(--color-gray);
  }

  .Head-logo {
    text-decoration: none !important;
  }

  .WorkExcerpt-title {
    font-size: 2em;
    font-weight: var(--text-normal);
  }
}
