/* Mix-blend-mode */

@supports (mix-blend-mode: exclusion) {
  .u-textMixBlend {
    color: #fff;
    mix-blend-mode: exclusion;
  }

  .u-textMixBlend *::selection {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}


/* Position */

.u-relative {
  position: relative;
}


/* Text */

.u-textNormal {
  font-weight: var(--font-normal);
}

@media (min-width: 320px) {
  .u-textTruncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}


/* Display */

html:not(.has-js) .u-noJsHide {
  display: none;
}

.u-hidden {
  display: none;
}

.u-hiddenVisually {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
