/* Mix-blend-mode */

@supports (mix-blend-mode: exclusion) {
  .u-textMixBlend {
    color: #fff;
    mix-blend-mode: exclusion;
  }

  .u-textMixBlend *::selection {
    background: var(--color-background);
    color: var(--color-text);
  }
}


.u-relative {
  position: relative !important;
}


/* Text */

.u-textNormal {
  font-weight: var(--font-normal) !important;
}

.u-textBold {
  font-weight: var(--font-bold) !important;
}

/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */

@media (min-width: 320px) {
  .u-textTruncate {
    max-width: 100%; /* 1 */
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important; /* 2 */
  }
}


/* Display */

html.no-js .u-noJsHide {
  display: none !important;
}

.u-hidden {
  display: none;
}

.u-hiddenVisually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

@media print {
  .u-printHide {
    display: none !important;
  }
}
