{
  "extends": "stylelint-config-suitcss",
  "quiet": true,
  "rules": {
    "declaration-block-properties-order": null,
    "selector-pseudo-element-colon-notation": null,
    "rule-nested-empty-line-before": null,
    "rule-non-nested-empty-line-before": null,
    "number-leading-zero": null,
    "max-empty-lines": null,
    "block-no-empty": null,
    "at-rule-empty-line-before": null
  }
}
