
/**
 * Small class utilities that doesn’t belong anywhere...
 */



.u-mirror {
  transform: scaleX(-1);
}

.u-heightFull {
  height: 100%;
}

.u-block {
  display: block;
}



/**
 * Wrappers
 */

%wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.u-wrapper--S {
  @extend %wrapper;
  max-width: 680px;
  @include respond-min(1600px) {
    max-width: 780px;
  }
}

.u-wrapper--M {
  @extend %wrapper;
  max-width: 1140px;
  @include respond-min(1600px) {
    max-width: 1300px;
  }
}

.u-wrapper--L {
  @extend %wrapper;
  max-width: 1280px;
  @include respond-min(1600px) {
    max-width: 1500px;
  }
}

.u-wrapper--XL {
  @extend %wrapper;
  max-width: 1600px;
  @include respond-min(1600px) {
    max-width: 1920px;
  }
}
