/* @define Banner */

.Banner {
  width: 100%;
  display: block;
}

@media (--md-viewport) {
  html.objectfit .Banner,
  html.object-fit .Banner {
    height: 80vh;
    min-height: 400px;
    max-height: 600px;
    max-width: 1920px;
    margin: 0 auto;
    object-fit: cover;
  }
}
