/* @define Banner */

.Banner {
  position: relative;
  overflow: hidden;
  max-width: var(--site-width);
  margin: 0 auto;
}

.Banner-image {
  display: block;
  width: 100%;
}

@media (--md-viewport) {
  .Banner {
    height: 80vh;
    min-height: 400px;
    max-height: 1000px;
  }

  .Banner-image {
    position: absolute;
    height: 100%;
    object-fit: cover;
  }
}
