.Blob {
  display: block;
}

.Blob path {
  mix-blend-mode: multiply;
}

.Blob--scroll path {
  transform-origin: center;
  transform: rotate(calc(360deg * var(--Blob-scroll))) translateZ(0);
  transition: transform 3000ms ease;
  will-change: transform;
  backface-visibility: hidden;
}

.Blob--animate path {
  animation: blob 40000ms var(--ease-in-out-sine) infinite;
  transform-origin: 47% 47%;
  backface-visibility: hidden;
  perspective: 1000px;
}

@media (prefers-reduced-motion: reduce) {
  .Blob--animate path {
    animation: none;
  }
}

.Blob path:first-child {
  color: var(--color-yellow);
}

.Blob path:nth-child(2) {
  color: var(--color-pink);
  animation-delay: -16000ms;
  animation-direction: reverse;
}

.Blob path:nth-child(3) {
  color: var(--color-blue);
  animation-delay: -25000ms;
}

@keyframes blob {
  0% { transform: translateZ(0) rotate(0deg); }
  100% { transform: translateZ(0) rotate(359deg); }
}
