.Blob {
  pointer-events: none;

  /* overflow: clip;
  contain: paint; */
}

@keyframes blob {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

.Blob path {
  animation: blob 40s linear infinite;
  backface-visibility: hidden;
  mix-blend-mode: multiply;
  transform-origin: 49% 49%;
}

@media (prefers-reduced-motion) {
  .Blob path {
    animation: none;
  }
}

.Blob path:first-child {
  color: var(--color-yellow);
}

.Blob path:nth-child(2) {
  color: var(--color-pink);
  animation-delay: -20s;
  animation-direction: reverse;
}

.Blob path:nth-child(3) {
  color: var(--color-blue);
  animation-delay: -10s;
}
