.ColorLink {
  position: relative;
}

.ColorLink span {
  position: relative;
  z-index: 1;
}

.ColorLink:hover span {
  animation: colorCycle 2.4s step-end infinite;
}

@media (prefers-reduced-motion: reduce) {
  .ColorLink:hover span {
    animation: none;
  }

  .ColorLink:hover {
    text-decoration: underline;
  }
}

.ColorLink:hover > :nth-of-type(6n+1) {
  animation-delay: -2.4s;
}

.ColorLink:hover > :nth-of-type(6n+2) {
  animation-delay: -2s;
}

.ColorLink:hover > :nth-of-type(6n+3) {
  animation-delay: -1.6s;
}

.ColorLink:hover > :nth-of-type(6n+4) {
  animation-delay: -1.2s;
}

.ColorLink:hover > :nth-of-type(6n+5) {
  animation-delay: -.8s;
}

.ColorLink:hover > :nth-of-type(6n+6) {
  animation-delay: -.4s;
}

@keyframes colorCycle {
  0% {
    color: #251bce;
  }

  20% {
    color: var(--color-green);
  }

  40% {
    color: #fdb74a;
  }

  60% {
    color: var(--color-pink);
  }

  80% {
    color: var(--color-red);
  }

  100% {
    color: var(--color-orange);
  }
}
