.Container {
  width: calc(100% - var(--spacing-lg));
  max-width: var(--site-width);
  margin: 0 auto;
}

@media (width >= 600px) and (width < 900px) {
  .Container {
    width: calc(100% - var(--spacing-sm));
  }
}


.Container--site {
  display: block;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}
