.Container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

@media (--xs-viewport) {
  .Container {
    width: calc(100% - calc(var(--global-spacing) * 2));
  }
}

@media (--md-viewport) {
  .Container {
    width: calc(100% - calc(var(--global-spacing-md) * 2));
  }
}

@media (--lg-viewport) {
  .Container {
    width: calc(100% - calc(var(--global-spacing-lg) * 2));
  }
}

@media (--xl-viewport) {
  .Container {
    width: calc(100% - calc(var(--global-spacing-xl) * 2));
  }
}

.Container--sm {
  max-width: 700px;
}

.Container--wide {
  width: auto;
  margin: 0;
}
