/* @define Entry */

.Entry-link {
  display: block;
  transition: transform 300ms, opacity 300ms;
}

.Entry-link:hover {
  opacity: .7;
  transform: translateX(3px);
}


.Entry-title {
  font-size: 2em;
}


.Entry--excerpt {
  font-size: 1.5em;
}

.Entry--excerpt:not(:last-child) {
  margin-bottom: var(--site-spacing-sm);
}

@media (--xs-viewport) {
  .Entry--excerpt:not(:last-child) {
    margin-bottom: var(--site-spacing-percent);
  }
}

@media (--md-viewport) {
  .Entry--excerpt:not(:last-child) {
    margin-bottom: var(--site-spacing-md);
  }
}

@media (--lg-viewport) {
  .Entry--excerpt:not(:last-child) {
    margin-bottom: var(--site-spacing-lg);
  }
}

@media (--xl-viewport) {
  .Entry--excerpt:not(:last-child) {
    margin-bottom: var(--site-spacing-xl);
  }
}
