/** @define Foot */

:root {
  --Foot-color: #fff;
  --Foot-titleColor: #999;
  --Foot-background: var(--color-text);
  --Foot-slapPeace: "/assets/images/slap-peace.png";
  --Foot-slapHand: "/assets/images/slap-hand.png";
  --Foot-slapSize: 90px;
}


.Foot {
  width: 100%;
  background: var(--Foot-background);
  color: var(--Foot-color);
  line-height: var(--text-lineheight-large);
}

@media (--md-viewport) {
  .Foot {
    font-size: 1.3em;
  }
}


@media (--xs-viewport) {
  .Foot-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.Foot-section {
  flex: 1 0 100%;
}

.Foot-section:not(:last-child) {
  margin-bottom: var(--site-spacing-sm);
}

.Foot-section:last-child {
  flex: 1 1 auto;
}

@media (--xs-viewport) {
  .Foot-section:not(:last-child) {
    flex: 0 0 auto;
    padding-right: calc(var(--site-spacing-sm) / 2);
    margin-bottom: var(--site-spacing-percent);
  }
  .Foot-section:last-child {
    align-self: center;
  }
}

@media (min-width: 470px) {
  .Foot-section:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (--sm-viewport) {
  .Foot-section:not(:last-child) {
    flex: 0 0 auto;
    padding-right: var(--site-spacing-sm);
    margin-bottom: var(--site-spacing-sm);
  }
  .Foot-section:last-child {
    flex: 1 0 auto;
  }
}

@media (--md-viewport) {
  .Foot-section:not(:last-child) {
    flex: 0 1 auto;
  }
}



.Foot-title {
  font-weight: var(--font-bold);
  color: var(--Foot-titleColor);
  margin-bottom: 10px;
}

.Foot-link {
  display: block;
  margin-bottom: 3.5px;
}



/* Slap */

.Foot-slap {
  user-select: none;
  text-align: center;
}

html.no-js .Foot-slap {
  display: none;
}

@media (--sm-max-viewport) {
  html.touchevents .Foot-slap {
    display: none;
  }
}

@media (--sm-viewport) {
  .Foot-slap {
    text-align: right;
  }
}


.Foot-slapHand {
  position: relative;
  display: inline-block;
  background-image: url(var(--Foot-slapPeace));
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--Foot-slapSize);
  height: var(--Foot-slapSize);
}

@media (--xl-viewport) {
  .Foot-slapHand {
    width: 120px;
    height: 120px;
  }
}


.Foot-slapText {
  font-size: .8em;
}


.Foot-slapHand.is-active,
.Foot-slapHand:hover {
  background-image: url(var(--Foot-slapHand));
}


.Foot-slapHand {
  transform: scale(1.2);
  cursor: pointer;
  cursor: grab;
  transition: transform 80ms;
}

.Foot-slapHand:active {
  transform: scale(1.1);
}

.Foot-slapHand.is-awesome {
  transform: scale(1.5);
  margin-bottom: 1em;
}

.Foot-slapHand.is-awesome:active {
  transform: scale(1.4);
}
