.Foot {
  position: relative;
  z-index: 0;
  padding: calc(var(--spacing-lg) * 4) 0 var(--spacing-sm);
  max-width: var(--site-width);
  margin: 0 auto;
}

@media (min-width: 400px) {
  .Foot {
    padding: calc(var(--spacing-lg) * 2) 0 var(--spacing-sm);
  }
}

@media (min-width: 900px) {
  .Foot {
    padding: calc(var(--spacing-lg) * 1) 0 var(--spacing-sm);
  }
}


.Foot-list {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  line-height: var(--font-lineheight-lg);
  padding-left: env(safe-area-inset-left);
}

@media (max-height: 500px) and (min-width: 800px) {
  .Foot-list {
    font-size: 0.9rem;
  }
}

html.has-js .Foot-list {
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  html.has-js .Foot-list {
    color: rgba(255, 255, 255, 0.87);
  }
}

@media (min-width: 900px) {
  .Foot-list {
    font-size: 1.3rem;
  }
}

@media (min-width: 1600px) {
  .Foot-list {
    font-size: 1.5rem;
  }
}


.Foot-link--lg {
  display: inline-block;
  margin-bottom: 1ch;
  font-size: 1.2em;
  user-select: all;
}

@media (min-height: 500px) and (min-width: 900px) {
  .Foot-link--lg {
    font-size: 1.6em;
  }
}


.Foot-blob {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 500px;
  height: 300px;
}

@media (min-width: 900px) {
  .Foot-blob {
    width: 1000px;
    height: 700px;
  }
}

@media (min-width: 1800px) {
  .Foot-blob {
    width: 1600px;
    height: 1200px;
    transform: translateX(-8%);
  }
}

@media (prefers-color-scheme: dark) {
  .Foot-blob {
    filter: brightness(60%);
  }
}


.Foot-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--color-dark);
  z-index: 2;
}

@media (prefers-color-scheme: dark) {
  .Foot-menu {
    color: rgba(255, 255, 255, 0.87);
  }
}

@media (max-width: 1000px) {
  .Foot-menu {
    display: none;
  }
}

.Foot-menuToggle {
  display: block;
  padding: 40px 0 0 40px;
  font-size: 1.2rem;
}

@media (min-width: 1600px) {
  .Foot-menuToggle {
    font-size: 1.8rem;
  }
}

.Foot-menuToggleSymbol {
  display: inline-block;
  vertical-align: top;
  transform: rotateZ(-135deg);
  width: 0.6em;
  height: 0.6em;
}

.Foot-menuContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: var(--color-dark);
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  transition: transform 200ms ease, opacity 200ms ease, visibility 0ms linear 200ms;
}

.Foot-menu:hover .Foot-menuContainer {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: transform 200ms ease, opacity 200ms ease, visibility 0ms linear;
}

.Foot-menuList {
  padding-bottom: 2em;
  transform: translateX(-100px);
}

@media (min-width: 1600px) {
  .Foot-menuList {
    padding-bottom: 3em;
    font-size: 1.3rem;
  }
}

.Foot-menuListItem {
  position: relative;
  display: block;
  background: #fff;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-width: 1px 1px 0;
  cursor: default;
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  .Foot-menuListItem {
    background: var(--color-dark);
    color: var(--color-text);
    border-color: var(--color-text);
  }
}

.Foot-menuList a {
  display: block;
}

.Foot-menuListItem > span,
.Foot-menuListItem > a {
  display: block;
  padding: 0.5em 0.8em;
}

.Foot-menuListItem:last-child {
  border-width: 1px;
}

.Foot-menuListItem:hover {
  background: var(--color-dark);
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .Foot-menuListItem:hover,
  .Foot-menuListItem:focus {
    background: #eee;
    color: var(--color-dark);
  }
}

.Foot-menuListItem > ul {
  position: absolute;
  left: 0;
  bottom: 0.2em;
  transform: translateX(-99%);
  opacity: 0;
  visibility: hidden;
  transition: transform 200ms ease, opacity 200ms ease, visibility 0ms linear 200ms;
}

.Foot-menuListItem:hover > ul {
  transform: translateX(-100%);
  opacity: 1;
  visibility: visible;
  transition: transform 200ms ease, opacity 200ms ease, visibility 0ms linear;
}

@media (prefers-reduced-motion: reduce) {
  .Foot-menuContainer,
  .Foot-menuListItem > ul {
    transition: none !important;
  }
}
