.Foot {
  position: relative;
  z-index: 0;
  padding: calc(var(--spacing-lg) * 4) 0 var(--spacing-sm);
  color: #fff;
}

@media (min-width: 400px) {
  .Foot {
    padding: calc(var(--spacing-lg) * 1.5) 0 var(--spacing-sm);
  }
}

@media (min-width: 900px) {
  .Foot {
    padding: calc(var(--spacing-lg) * 1.5) 0 var(--spacing-sm);
  }
}


.Foot-list {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  line-height: var(--font-lineheight-lg);
}

@media (min-width: 900px) {
  .Foot-list {
    font-size: 1.3rem;
  }
}

@media (min-width: 1800px) {
  .Foot-list {
    font-size: 1.6rem;
  }
}


.Foot-link--lg {
  display: inline-block;
  margin-bottom: 1ch;
  font-size: 1.2em;
  user-select: all;
}

@media (min-width: 900px) {
  .Foot-link--lg {
    font-size: 1.6em;
  }
}


.Foot-blob {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 700px;
  height: 700px;
  transform: translate(-220px, -200px);
}

@media (min-width: 900px) {
  .Foot-blob {
    width: 1200px;
    height: 1200px;
    transform: translate(-400px, -360px);
  }
}

@media (min-width: 1200px) {
  .Foot-blob {
    transform: translate(-400px, -340px);
  }
}

@media (min-width: 1800px) {
  .Foot-blob {
    width: 1600px;
    height: 1600px;
    transform: translate(-30%, -30%);
  }
}


/*
.Foot {
  position: relative;
  z-index: 0;
  padding: calc(var(--spacing-lg) * 4) 0 var(--spacing-sm);
  color: #fff;
}

@media (min-width: 400px) {
  .Foot {
    padding: calc(var(--spacing-lg) * 2) 0 var(--spacing-sm);
  }
}

@media (min-width: 900px) {
  .Foot {
    width: calc(100% - var(--spacing-sm));
    padding: calc(var(--spacing-lg) * 1.5) 0 var(--spacing-sm);
  }
}


.Foot-grid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-gap: var(--spacing-sm);
}

@media (min-width: 1200px) {
  .Foot-grid {
    grid-auto-flow: column;
    align-items: end;
  }
}

.Foot-left {
  font-size: 1.1rem;
  line-height: var(--font-lineheight-lg);
}

@media (min-width: 900px) {
  .Foot-left {
    font-size: 1.3rem;
  }
}

@media (min-width: 1800px) {
  .Foot-left {
    font-size: 1.6rem;
  }
}

.Foot-link {
  display: inline-block;
}

.Foot-link--lg {
  padding-bottom: 1ch;
  font-size: 1.2em;
}

@media (min-width: 900px) {
  .Foot-link--lg {
    font-size: 1.6em;
  }
}

@media (max-width: 600px) {
  .Foot-right {
    padding-top: 20px;
    font-size: .9em;
  }
}

@media (min-width: 1200px) {
  .Foot-right {
    color: var(--color-text);
    text-align: right;
  }
}


.Foot-blob {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 700px;
  height: 700px;
  transform: translate(-220px, -200px);
}

@media (min-width: 900px) {
  .Foot-blob {
    width: 1200px;
    height: 1200px;
    transform: translate(-400px, -360px);
  }
}

@media (min-width: 1200px) {
  .Foot-blob {
    transform: translate(-380px, -340px);
  }
}

@media (min-width: 1800px) {
  .Foot-blob {
    width: 1600px;
    height: 1600px;
    transform: translate(-30%, -30%);
  }
}
*/
