.Grid {
  display: grid;
  grid-gap: var(--global-spacing);
  margin-bottom: var(--global-spacing);
}

@media (--lg-viewport) {
  .Grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: var(--global-spacing-sm);
    margin-bottom: var(--global-spacing-sm);
  }
}

