.Head {
  --Head-link-spacing: var(--global-spacing) 0;
}

@media (--xs-viewport) {
  .Head {
    --Head-link-spacing: var(--global-spacing) 0;
  }
}

@media (--sm-viewport) {
  .Head {
    --Head-link-spacing: calc(var(--global-spacing) * .5) 0;
  }
}

@media (--lg-viewport) {
  .Head {
    --Head-link-spacing: calc(var(--global-spacing-lg) * .5) 0 0;
  }
}

.Head-logo,
.Head-navLink {
  padding: var(--Head-link-spacing);
  font-size: var(--text-size-lg);
}

.Head-logo {
  display: inline-block;
  vertical-align: middle;
}

.Head-logo.is-active {
  visibility: hidden;
}

.Head-navLink {
  float: right;
}

.Head-logo:focus,
.Head-logo:hover {
  opacity: .7;
  outline: none;
}
