/** @define Head */


.Head-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.Head-logo {
  flex: 0 0 auto;
  padding: .8em 0;
  font-size: 1.2em;
}


.Head-nav {
  flex: 0 1 auto;
  display: inline-block;
}

.Head-navItem {
  display: inline-block;
}

.Head-navItem:not(:last-child) {
  margin-right: 40px;
}


.Head-logo,
.Head-navLink {
  display: block;
  padding: .8em 0;
  font-size: 1.2em;
}

@media (--sm-viewport) {
  .Head-logo,
  .Head-navLink {
    padding: 1.2em 0;
  }
}

@media (--lg-viewport) {
  .Head-logo,
  .Head-navLink {
    padding: 1.5em 0;
    font-size: 1.5em;
  }
}


.Head-logo:focus,
.Head-logo:hover {
  opacity: .7;
  outline: none;
}


html.no-flexbox .Head-logo,
html.no-flexbox .Head-nav {
  display: inline-block;
}

html.no-flexbox .Head-navList {
  float: right;
}
