.Intro {
  position: relative;
  padding-top: calc(var(--spacing-lg) * 1.5);
  max-width: var(--site-width);
  margin: 0 auto;
  padding-left: env(safe-area-inset-left);
}

@media (min-width: 1200px) {
  .Intro {
    padding-top: calc(var(--spacing-lg) * 2.2);
  }
}

@media (min-width: 1600px) {
  .Intro {
    padding-top: calc(var(--spacing-lg) * 2.8);
  }
}

.Intro-text,
.Intro-contact {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(5%);
  animation: fadeIn 300ms ease 200ms forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(4%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Intro-text {
  max-width: 550px;
}

@media (min-width: 800px) {
  .Intro-text {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .Intro-text {
    max-width: 650px;
  }
}

@media (min-width: 1600px) {
  .Intro-text {
    max-width: 800px;
  }
}

@media (min-width: 2400px) {
  .Intro-text {
    max-width: 1400px;
  }
}


.Intro-text svg {
  width: 0.8ch;
  height: 0.8ch;
  transform: translate(0.2ch, 0.2ch) rotateZ(-90deg) rotateY(180deg);
}

.Intro-contact {
  margin-top: 1rem;
  line-height: var(--font-lineheight-lg);
  animation-delay: 300ms;
}

@media (min-width: 1000px) {
  .Intro-contact {
    margin-top: var(--spacing-sm);
    font-size: 1.5em;
  }
}

@media (min-width: 1600px) {
  .Intro-contact {
    font-size: 1.9rem;
  }
}

.Intro-contactLink {
  display: inline-block;
}

.Intro-contactLinkText,
.Intro-contactLinkSymbol {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.Intro-contactLinkText {
  user-select: all;
  transition: opacity 200ms ease;
}

.Intro-contactLinkSymbol {
  width: 1ch;
  height: 1ch;
  margin-right: 4px;
  transform: translateY(2px);
}

.Intro-blob {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 200px;
  height: 500px;
  backface-visibility: hidden;
  transition: opacity 500ms ease 300ms, transform 2000ms ease;
}

.Intro-blob:not(.is-active) {
  opacity: 0;
  transform: translate3d(5%, 0, 0);
}

@media (min-width: 800px) {
  .Intro-blob {
    width: 50%;
    height: 100vmax;
  }
}

@media (min-width: 1000px) {
  .Intro-blob {
    width: 55%;
    height: 100vmax;
  }
}

@media (min-width: 1600px) {
  .Intro-blob {
    width: 50%;
    height: 1200px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Intro-blob {
    transition: none;
  }
}

@media (prefers-color-scheme: dark) {
  .Intro-blob {
    filter: brightness(60%);
  }
}
