.Link-text {
  position: relative;
}

.Link-text::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background: currentColor;
  opacity: 0;
  transform: translate3d(0, 5px, 0);
  transition: transform 200ms, opacity 200ms;
}

.Link:focus .Link-text::after,
.Link.is-active .Link-text::after,
.Link:hover .Link-text::after {
  opacity: .8;
  transform: translate3d(0, 0, 0);
}

.Link:focus {
  outline: none;
}

.Link.is-active .Link-text::after {
  transition: transform 200ms 500ms, opacity 200ms 500ms;
}
