.List {
  position: relative;
  z-index: 1;
}

@media (min-width: 600px) {
  .List {
    margin-bottom: calc(var(--spacing-sm) * -1);
  }
}

.List-header {
  margin-bottom: var(--spacing-sm);
}

.List-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.1em;
  list-style: none;
}

@media (min-width: 600px) {
  .List-list {
    justify-content: flex-start;
  }
}

.List-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}

@media (min-width: 600px) {
  .List-list li {
    margin-right: var(--spacing-sm);
  }
}


.List-image {
  --List-image-width: 80px;

  opacity: .7;
  display: block;
  height: auto;
  width: var(--List-image-width);
  max-width: var(--List-image-width);
  max-height: calc(var(--List-image-width) / 2);
}

.List-image--sm {
  max-width: calc(var(--List-image-width) * 1.5) !important;
  width: calc(var(--List-image-width) * 1.5) !important;
}

.List-image--md {
  max-width: calc(var(--List-image-width) * 2) !important;
  width: calc(var(--List-image-width) * 2) !important;
}

.List-image--lg {
  max-width: calc(var(--List-image-width) * 2.3) !important;
  width: calc(var(--List-image-width) * 2.3) !important;
}

@media (min-width: 600px) {
  .List-list img {
    --List-image-width: 110px;
  }
}

@media (min-width: 1600px) {
  .List-list img {
    --List-image-width: 160px;
  }
}
