.Section {
  --Section-spacing: var(--global-spacing-sm);

  padding: var(--Section-spacing) 0;
}

@media (--xs-viewport) {
  .Section {
    --Section-spacing: var(--global-spacing);
  }
}

@media (--md-viewport) {
  .Section {
    --Section-spacing: var(--global-spacing-md);
  }
}

@media (--xl-viewport) {
  .Section {
    --Section-spacing: var(--global-spacing-lg);
  }
}
