.Site {
  font: var(--text-normal) 16px/var(--text-lineheight-small) var(--text-sansserif);
  letter-spacing: 1px;
  color: var(--color-text);
  background: #fff;
}


.Site-container {
  width: 90%;
  max-width: var(--site-width);
  margin: 0 auto;
}

@media (--xs-viewport) {
  .Site-container {
    width: calc(100% - calc(var(--site-spacing-percent) * 2));
  }
}

@media (--md-viewport) {
  .Site-container {
    width: calc(100% - calc(var(--site-spacing-md) * 2));
  }
}

@media (--lg-viewport) {
  .Site-container {
    width: calc(100% - calc(var(--site-spacing-lg) * 2));
  }
}

@media (--xl-viewport) {
  .Site-container {
    width: calc(100% - calc(var(--site-spacing-xl) * 2));
  }
}

.Site-container--sm {
  max-width: var(--site-width-sm);
}
