.Type {
  --Type-spacing: var(--global-spacing-xs);
  --Type-spacing-lg: var(--global-spacing-xs);
  --Type-size: 1.1em;
  --Type-size-lg: 1.3em;

  line-height: var(--text-lineheight-large);
  font-size: var(--Type-size);
}

@media (--xs-viewport) {
  .Type {
    --Type-spacing-lg: var(--global-spacing);
  }
}

@media (--sm-viewport) {
  .Type {
    --Type-size: 1.2em;
    --Type-size-lg: 1.5em;
  }
}

@media (--lg-viewport) {
  .Type {
    --Type-size: 1.3em;
    --Type-size-lg: 1.7em;
    --Type-spacing-lg: var(--global-spacing-sm);
  }
}

.Type--lg {
  font-size: var(--Type-size-lg);
  margin-bottom: var(--Type-spacing-lg);
}


/* Block elements */

.Type h1,
.Type img,
.Type p {
  max-width: 100%;
  height: auto;
  margin: var(--Type-spacing) 0;
  display: block;
}

.Type > :first-child {
  margin-top: 0;
}

.Type > :last-child {
  margin-bottom: 0;
}

/* Links */
.Type a {
  outline: 0;
  border-bottom: 2px dotted currentColor;
}

.Type a:hover,
.Type a:focus,
.Type a:active {
  color: #000;
  border-bottom-style: solid;
}

.Type a:active,
.Type a[href^="http"]:visited {
  color: var(--color-gray);
}
