:root {
  --Type-spacing: 30px;
}


.Type {
  line-height: var(--text-lineheight-large);
  font-size: 1em;
}

@media (--lg-viewport) {
  .Type {
    font-size: 1.2em;
  }
}

.Type:not(:last-child) {
  margin-bottom: var(--site-spacing-percent);
}

@media (--md-viewport) {
  .Type:not(:last-child) {
    margin-bottom: var(--site-spacing-sm);
  }
}


.Type--lg {
  font-size: 1.2em;
}

@media (--sm-viewport) {
  .Type--lg {
    font-size: 1.5em;
  }
}

@media (--md-viewport) {
  .Type--lg {
    font-size: 1.75em;
  }
}

@media (--lg-viewport) {
  .Type--lg {
    font-size: 2em;
  }
}


.Type > :first-child {
  margin-top: 0 !important;
}

.Type > :last-child {
  margin-bottom: 0 !important;
}


/**
 * Styled elements
 */

.Type img,
.Type p,
.Type pre,
.Type ul,
.Type hr,
.Type h1,
.Type h2 {
  max-width: 100%;
  height: auto;
  margin: var(--Type-spacing) 0;
  display: block;
}


/* Links */

.Type a {
  outline: 0;
  border-bottom: 1px dotted currentColor;
}

.Type a:hover,
.Type a:focus,
.Type a:active {
  color: #000;
  border-bottom-style: solid;
}

.Type a:active,
.Type a[href^="http"]:visited {
  color: var(--color-gray-dark);
}


/* Headings */

.Type h1,
.Type h2 {
  line-height: var(--text-lineheight-small);
}

.Type h1 {
  font-size: 2em;
}

.Type h2 {
  font-size: 1.8em;
}

.Type h1:not(:first-child),
.Type h2:not(:first-child) {
  padding-top: 20px;
}


/* Lists */

.Type ol,
.Type ul {
  padding-left: 2em;
  list-style: disc;
}

.Type ol {
  list-style: decimal;
}


/* Divider */

.Type hr {
  height: 1px;
  border: 0;
  width: 100%;
  background: var(--color-gray-light);
  margin: calc(var(--Type-spacing) * 2) auto;
  transform: rotate(-1deg);
  transform-origin: top center;
}


/* Table */

.Type-table {
  width: 100%;
  overflow: auto;
  text-align: left;
}

.Type table {
  width: 100%;
  min-width: var(--site-width-sm);
}

.Type th,
.Type td {
  padding: 5px;
}

@media (--md-viewport) {
  .Type th,
  .Type td {
    padding: 10px 5px;
  }
}


/* Code */

.Type-code {
  background: var(--color-gray-light);
  padding: 20px;
  overflow: auto;
}
