/** @define WorkExcerpt; */

:root {
  --WorkExcerpt-content-width: 40%;
  --WorkExcerpt-arkitektur: #1992c1;
  --WorkExcerpt-rdev: #000;
  --WorkExcerpt-coop1: #00ad25;
  --WorkExcerpt-coop2: #f3f5f0;
  --WorkExcerpt-rikskriscentrum1: #0074d9;
  --WorkExcerpt-rikskriscentrum2: #f0f8ff;
  --WorkExcerpt-arcini: #303948;
  --WorkExcerpt--you: #ffcdcd;
}

.WorkExcerpt {
  overflow: hidden;
}

.WorkExcerpt-inner {
  position: relative;
  width: 90%;
  max-width: var(--site-width);
  margin: 0 auto;
}

@media (--xs-viewport) {
  .WorkExcerpt-inner {
    width: 86%;
  }
}

@media (--md-viewport) {
  .WorkExcerpt-inner {
    width: 80%;
  }
}


/* Content */

.WorkExcerpt-content {
  position: relative;
  z-index: 1;
  padding: var(--site-spacing-sm) 0;
}

@media (--xs-viewport) and (--sm-max-viewport) {
  .WorkExcerpt-content {
    padding: var(--site-spacing-sm) 15% var(--site-spacing-sm) 0;
  }
}

@media (min-width: 350px) and (--sm-max-viewport) {
  .WorkExcerpt-content {
    padding-right: 20%;
  }
}

@media (min-width: 450px) and (--sm-max-viewport) {
  .WorkExcerpt-content {
    padding-right: 30%;
  }
}

@media (--sm-viewport) {
  .WorkExcerpt-content {
    padding: var(--site-spacing-sm) 0;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
}


/* Title */

.WorkExcerpt-title {
  font-size: 1.5em;
  line-height: var(--text-lineheight-small);
  margin-bottom: .2em;
  font-weight: var(--font-bold);
}

@media (--sm-max-viewport) {
  .WorkExcerpt-title {
    margin-bottom: .5em;
  }
}

@media (--xs-viewport) {
  .WorkExcerpt-title {
    font-size: calc(1.5em + 3vw);
  }
}

@media (--xl-viewport) {
  .WorkExcerpt-title {
    font-size: 4.5em;
  }
}


/* Work description */

.WorkExcerpt-text {
  font-size: 1.1em;
  line-height: var(--text-lineheight-large);
}

@media (--sm-viewport) {
  .WorkExcerpt-text {
    font-size: 1.3em;
    max-width: 550px;
  }
}

@media (--xl-viewport) {
  .WorkExcerpt-text {
    font-size: 1.7em;
    max-width: 650px;
  }
}


/* Text */

.WorkExcerpt-info,
.WorkExcerpt-links {
  margin-top: 1em;
  line-height: var(--text-lineheight-large);
}

@media (--lg-viewport) {
  .WorkExcerpt-info,
  .WorkExcerpt-links {
    font-size: 1.1em;
    margin-top: 2em;
  }
}

@media (--xl-viewport) {
  .WorkExcerpt-info,
  .WorkExcerpt-links {
    font-size: 1.3em;
  }

  .WorkExcerpt-info {
    margin-top: 1em;
  }
}



.WorkExcerpt-infoItem,
.WorkExcerpt-infoTitle {
  padding-bottom: .5em;
  display: inline;
}

.WorkExcerpt-infoTitle {
  margin-right: .5em;
  font-weight: var(--font-bold);
}

.WorkExcerpt-infoItem::after {
  content: "\A";
  white-space: pre;
}

p.WorkExcerpt-infoItem {
  display: block;
}

p.WorkExcerpt-infoItem .WorkExcerpt-infoTitle {
  margin-right: .25em;
}



.WorkExcerpt-link {
  display: inline-block;
  line-height: var(--text-lineheight-small);
  border-bottom: 1px dotted currentColor;
}

.WorkExcerpt-link:hover,
.WorkExcerpt-link:focus {
  border-bottom-style: solid;
  outline: none;
}



/* Image */

.WorkExcerpt-imageWrap {
  display: none;
  text-align: center;
}

@media (--xs-viewport) {
  .WorkExcerpt-imageWrap {
    display: block;
  }
}

@media (--xs-viewport) and (--sm-max-viewport) {
  .WorkExcerpt-imageWrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(70%);
    overflow: hidden;
  }
}

@media (min-width: 350px) and (--sm-max-viewport) {
  .WorkExcerpt-imageWrap {
    transform: translateX(60%);
  }
}

@media (min-width: 450px) and (--sm-max-viewport) {
  .WorkExcerpt-imageWrap {
    transform: translateX(40%);
  }
}

@media (--sm-viewport) {
  .WorkExcerpt-imageWrap {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-left: 10%;
  }
}

.WorkExcerpt-image {
  display: none;
  vertical-align: middle;
  margin: var(--site-spacing-sm) 0;
}

@media (--xs-viewport) {
  .WorkExcerpt-image {
    display: inline-block;
  }
}

@media (--xs-viewport) and (--sm-max-viewport) {
  .WorkExcerpt-image {
    height: 400px;
    max-width: none;
    transform: rotate(-5deg);
  }
}

@media (min-height: 500px) and (max-height: 700px) {
  .WorkExcerpt-image {
    max-height: 95vh;
  }
}


html.js .WorkExcerpt-image.is-lazy {
  opacity: 0;
  transition: opacity 300ms ease 100ms;
}

html.js .WorkExcerpt-image.is-loaded {
  opacity: 1;
}



/* Arkitektur */

.WorkExcerpt--arkitektur {
  color: var(--WorkExcerpt-arkitektur);
  background: #fff;
}


/* Coop */

.WorkExcerpt--coop {
  background: var(--WorkExcerpt-coop2);
  color: var(--WorkExcerpt-coop1);
}


/* Rikskriscentrum */

.WorkExcerpt--rikskriscentrum {
  background: var(--WorkExcerpt-rikskriscentrum2);
  color: var(--WorkExcerpt-rikskriscentrum1);
}


/* RDEV */

.WorkExcerpt--rdev {
  background: var(--WorkExcerpt-rdev);
  color: #fff;
}

@media (--xs-viewport) and (max-width: 400px) {
  .WorkExcerpt--rdev .WorkExcerpt-imageWrap {
    transform: translateX(75%);
  }
}

@media (min-width: 400px) and (--sm-max-viewport) {
  .WorkExcerpt--rdev .WorkExcerpt-imageWrap {
    transform: translateX(65%);
  }
}


/* Arcini */

@media (--xs-viewport) and (max-width: 400px) {
  .WorkExcerpt--arcini .WorkExcerpt-imageWrap {
    transform: translateX(75%);
  }
}

@media (min-width: 400px) and (--sm-max-viewport) {
  .WorkExcerpt--arcini .WorkExcerpt-imageWrap {
    transform: translateX(65%);
  }
}


/* You */

.WorkExcerpt--you {
  display: block;
  background: var(--WorkExcerpt--you);
}

.WorkExcerpt--you .WorkExcerpt-inner {
  display: block;
}

.WorkExcerpt--you .WorkExcerpt-content {
  padding-right: 0;
}

@media (--sm-viewport) {
  .WorkExcerpt--you .WorkExcerpt-content {
    width: 100%;
  }
}

@media (--md-viewport) {
  .WorkExcerpt--you .WorkExcerpt-content {
    padding: var(--site-spacing-md) 0;
  }
}

@media (--lg-viewport) {
  .WorkExcerpt--you .WorkExcerpt-content {
    padding: var(--site-spacing-xl) 0;
  }
}

.WorkExcerpt--you .WorkExcerpt-infoItem::after {
  content: normal;
}



@media (--sm-viewport) and (min-height: 700px) {
  html.js .WorkExcerpt--coop .WorkExcerpt-image.is-lazy:not(.is-loaded),
  html.js .WorkExcerpt--arkitektur .WorkExcerpt-image.is-lazy:not(.is-loaded),
  html.js .WorkExcerpt--rikskriscentrum .WorkExcerpt-image.is-lazy:not(.is-loaded) {
    height: 0;
    padding-bottom: calc((1000px / 581px) * 100%);
  }

  html.js .WorkExcerpt--rdev .WorkExcerpt-image.is-lazy:not(.is-loaded),
  html.js .WorkExcerpt--arcini .WorkExcerpt-image.is-lazy:not(.is-loaded) {
    height: 0;
    padding-bottom: calc((782px / 581px) * 100%);
  }
}
