.Work {
  position: relative;
  z-index: 1;
  margin: var(--spacing-lg) 0;
}

html:not(.has-js) .Work-grid {
  display: grid;
  grid-gap: var(--spacing-lg);
}

@media (min-width: 1400px) {
  html:not(.has-js) .Work-grid {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  }
}

@media (min-width: 1800px) {
  html:not(.has-js) .Work-grid {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
  }
}

.Work-item {
  overflow: hidden;
}

@media (max-width: 1800px) {
  .Work-itemInner {
    max-width: 600px;
  }
}

@media (min-width: 900px) and (max-width: 1800px) {
  .Work-item:nth-child(2n) .Work-itemInner {
    margin-left: auto;
  }
}

.Work-imageWrap {
  position: relative;
  display: block;
  padding-bottom: calc(900 / 1200 * 100%); /* height / width * 100%  */
  height: 0;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.Work-imageWrap:focus {
  outline: none;
}

.Work-item--tall .Work-imageWrap {
  padding-bottom: 100%;
}

.Work-item--medium .Work-imageWrap {
  padding-bottom: calc(800 / 1200 * 100%);
}

.Work-item--short .Work-imageWrap {
  padding-bottom: calc(700 / 1200 * 100%);
}


.Work-item--filosofera .Work-imageWrap {
  background-color: #006cb3;
  background-image: linear-gradient(-59deg, #006cb3 0%, #7ac6c2 100%);
}

.Work-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  backface-visibility: hidden;
  transition: opacity 200ms ease 100ms, transform 200ms ease 100ms;
  transform: translateY(3%);
}

.Work-item--filosofera .Work-image {
  opacity: 1;
  transform: rotateY(180deg);
  backface-visibility: visible;
  padding: 15%;
}

@media (min-width: 1400px) {
  .Work-item:nth-child(2) .Work-image {
    transition-delay: 200ms;
  }
}

@media (min-width: 1800px) {
  .Work-item:nth-child(3) .Work-image {
    transition-delay: 300ms;
  }
}

.Work-image.is-loaded {
  opacity: 1;
  transform: translateY(0);
}

.fmf-hand {
  animation: wave 1200ms ease-in-out infinite;
  transform-origin: 35% 10%;
}

.fmf-head {
  display: block;
  animation: head 3000ms ease-in-out alternate infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: rotateZ(-25deg);
  }

  50% {
    transform: rotateZ(0deg);
  }
}

@keyframes head {
  0%,
  40% {
    transform: translate3d(0, 0, 0);
  }

  60%,
  100% {
    transform: translate3d(-1px, 2px, 0);
  }
}


.Work-info {
  background-color: #fff;
  color: var(--color-dark);
  padding: 1.2rem 1.4rem 1.4rem;
  border-radius: 0 0 4px 4px;
}

@media (prefers-color-scheme: dark) {
  .Work-info {
    background-color: var(--color-dark);
    color: #fff;
  }
}

@media (min-width: 600px) {
  .Work-info {
    padding: 2rem 2.2rem 2.2rem;
  }
}

.Work-role,
.Work-infoLink {
  margin-top: 1.8em;
}

.Work-role {
  display: none;
  color: var(--color-gray);
}

.Work-infoLink {
  display: inline-block;
}

@media (min-width: 900px) {
  .Work-infoLink {
    font-size: 1.2em;
  }
}

.Work-infoLink > * {
  display: inline;
  vertical-align: middle;
  line-height: 1;
}

.Work-infoLink svg {
  width: 1ch;
  height: 1ch;
  margin-right: 4px;
  transform: translateY(1px);
}

.Work-infoLink span {
  opacity: 1;
  transition: opacity 100ms ease;
  text-decoration: underline;
}

.Work-infoLink:hover span {
  opacity: .7;
}
