:root {
  --WorkExcerpt-content-width: 40%;
  --WorkExcerpt-coop-1: #00ad25;
  --WorkExcerpt-coop-2: #f3f5f0;
  --WorkExcerpt-arkitektur: #1992c1;
  --WorkExcerpt-rdev: #000;
  --WorkExcerpt-rikskriscentrum-1: #0074d9;
  --WorkExcerpt-rikskriscentrum-2: #f0f8ff;
  --WorkExcerpt-filosoferamedflera-1: #006cb3;
  --WorkExcerpt-filosoferamedflera-2: linear-gradient(60deg, #006cb3 0%, #7ac6c2 100%);
  --WorkExcerpt--you: #ffcdcd;
}

.WorkExcerpt {
  overflow: hidden;
}

.WorkExcerpt-inner {
  position: relative;
}


/* Content */

.WorkExcerpt-content {
  position: relative;
  z-index: 1;
  padding: var(--site-spacing-sm) 0;
}

@media (--xs-viewport) and (--sm-max-viewport) {
  .WorkExcerpt-content {
    padding: var(--site-spacing-sm) 15% var(--site-spacing-sm) 0;
  }
}

@media (min-width: 350px) and (--sm-max-viewport) {
  .WorkExcerpt-content {
    padding-right: 20%;
  }
}

@media (min-width: 450px) and (--sm-max-viewport) {
  .WorkExcerpt-content {
    padding-right: 30%;
  }
}

@media (--sm-viewport) {
  .WorkExcerpt-content {
    padding: var(--site-spacing-sm) 0;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
}


/* Title */

.WorkExcerpt-title {
  font-size: 1.5em;
  line-height: var(--text-lineheight-small);
  margin-bottom: .2em;
  font-weight: var(--text-bolder);
}

@media (--sm-max-viewport) {
  .WorkExcerpt-title {
    margin-bottom: .5em;
  }
}

@media (--xs-viewport) {
  .WorkExcerpt-title {
    font-size: calc(1.5em + 2.5vw);
  }
}

@media (--xl-viewport) {
  .WorkExcerpt-title {
    font-size: 4.5em;
  }
}


/* Work description */

@media (--sm-viewport) {
  .WorkExcerpt-text {
    max-width: 550px;
  }
}

@media (--xl-viewport) {
  .WorkExcerpt-text {
    max-width: 650px;
  }
}


/* Info */

.WorkExcerpt-info,
.WorkExcerpt-links {
  margin-top: 1em;
  line-height: var(--text-lineheight-large);
}

@media (--lg-viewport) {
  .WorkExcerpt-info,
  .WorkExcerpt-links {
    font-size: 1.1em;
    margin-top: 2em;
  }
}

@media (--xl-viewport) {
  .WorkExcerpt-info,
  .WorkExcerpt-links {
    font-size: 1.3em;
  }

  .WorkExcerpt-info {
    margin-top: 1em;
  }
}

.WorkExcerpt-linksTitle,
.WorkExcerpt-infoTitle {
  font-weight: var(--text-bold);
}

.WorkExcerpt-infoItem,
.WorkExcerpt-infoTitle {
  padding-bottom: .5em;
  display: inline;
}

.WorkExcerpt-infoTitle {
  margin-right: .3em;
}

.WorkExcerpt-infoItem::after {
  content: "\A";
  white-space: pre;
}

p.WorkExcerpt-infoItem {
  display: block;
}

p.WorkExcerpt-infoItem .WorkExcerpt-infoTitle {
  margin-right: .25em;
}


/* Link */

.WorkExcerpt-link {
  display: inline-block;
  line-height: var(--text-lineheight-small);
  border-bottom: 1px dotted currentColor;
}

.WorkExcerpt-link:hover,
.WorkExcerpt-link:focus {
  border-bottom-style: solid;
  outline: none;
}


/* Image */

.WorkExcerpt-imageWrap {
  display: none;
  text-align: center;
}

@media (--xs-viewport) {
  .WorkExcerpt-imageWrap {
    display: block;
  }
}

@media (--xs-viewport) and (--sm-max-viewport) {
  .WorkExcerpt-imageWrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(70%);
    overflow: hidden;
  }
}

@media (min-width: 350px) and (--sm-max-viewport) {
  .WorkExcerpt-imageWrap {
    transform: translateX(60%);
  }
}

@media (min-width: 450px) and (--sm-max-viewport) {
  .WorkExcerpt-imageWrap {
    transform: translateX(40%);
  }
}

@media (--sm-viewport) {
  .WorkExcerpt-imageWrap {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-left: 10%;
  }
}

.WorkExcerpt-image {
  display: none;
  vertical-align: middle;
  margin: var(--site-spacing-sm) 0;
}

@media (--xs-viewport) {
  .WorkExcerpt-image {
    display: inline-block;
  }
}

@media (--xs-viewport) and (--sm-max-viewport) {
  .WorkExcerpt-image {
    height: 400px;
    max-width: none;
    transform: rotate(-5deg);
  }
}

@media (min-height: 500px) and (max-height: 700px) {
  .WorkExcerpt-image {
    max-height: 95vh;
  }
}


html:not(.no-js) .WorkExcerpt-image.is-lazy {
  transition: opacity 300ms ease 100ms;
}

html:not(.no-js) .WorkExcerpt-image.is-lazy:not(.is-loaded) {
  opacity: 0;
}


/* Coop */

.WorkExcerpt--coop {
  background: var(--WorkExcerpt-coop-2);
  color: var(--WorkExcerpt-coop-1);
}


/* Arkitektur */

.WorkExcerpt--arkitektur {
  color: var(--WorkExcerpt-arkitektur);
  background: #fafafa;
}


/* Rikskriscentrum */

.WorkExcerpt--rikskriscentrum {
  background: var(--WorkExcerpt-rikskriscentrum-2);
  color: var(--WorkExcerpt-rikskriscentrum-1);
}


/* Filosofera med flera */

.WorkExcerpt--filosoferamedflera {
  background-color: var(--WorkExcerpt-filosoferamedflera-1);
  background-image: var(--WorkExcerpt-filosoferamedflera-2);
  color: #fff;
}


/* RDEV */

.WorkExcerpt--rdev {
  background: var(--WorkExcerpt-rdev);
  color: #fff;
}

@media (--xs-viewport) and (max-width: 400px) {
  .WorkExcerpt--rdev .WorkExcerpt-imageWrap {
    transform: translateX(75%);
  }
}

@media (min-width: 400px) and (--sm-max-viewport) {
  .WorkExcerpt--rdev .WorkExcerpt-imageWrap {
    transform: translateX(65%);
  }
}


/* Arcini */

@media (--xs-viewport) and (max-width: 400px) {
  .WorkExcerpt--arcini .WorkExcerpt-imageWrap {
    transform: translateX(75%);
  }
}

@media (min-width: 400px) and (--sm-max-viewport) {
  .WorkExcerpt--arcini .WorkExcerpt-imageWrap {
    transform: translateX(65%);
  }
}


/* You */

.WorkExcerpt--you {
  display: block;
  background: var(--WorkExcerpt--you);
}

.WorkExcerpt--you .WorkExcerpt-inner {
  display: block;
}

.WorkExcerpt--you .WorkExcerpt-content {
  padding-right: 0;
}

@media (--sm-viewport) {
  .WorkExcerpt--you .WorkExcerpt-content {
    width: 100%;
  }
}

@media (--md-viewport) {
  .WorkExcerpt--you .WorkExcerpt-content {
    padding: var(--site-spacing-md) 0;
  }
}

@media (--lg-viewport) {
  .WorkExcerpt--you .WorkExcerpt-content {
    padding: var(--site-spacing-xl) 0;
  }
}

.WorkExcerpt--you .WorkExcerpt-infoItem::after {
  content: normal;
}


@media (--sm-viewport) and (min-height: 700px) {
  html:not(.no-js) .WorkExcerpt--coop .WorkExcerpt-image.is-lazy:not(.is-loaded),
  html:not(.no-js) .WorkExcerpt--arkitektur .WorkExcerpt-image.is-lazy:not(.is-loaded),
  html:not(.no-js) .WorkExcerpt--filosoferamedflera .WorkExcerpt-image.is-lazy:not(.is-loaded),
  html:not(.no-js) .WorkExcerpt--ninnan .WorkExcerpt-image.is-lazy:not(.is-loaded) {
    height: 0;
    padding-bottom: calc((1000 / 581) * 100%);
  }

  html:not(.no-js) .WorkExcerpt--rdev .WorkExcerpt-image.is-lazy:not(.is-loaded),
  html:not(.no-js) .WorkExcerpt--arcini .WorkExcerpt-image.is-lazy:not(.is-loaded) {
    height: 0;
    padding-bottom: calc((782 / 581) * 100%);
  }
}
