.Work {
  position: relative;
  z-index: 1;
  margin: calc(var(--spacing-lg) * 1.5) 0 var(--spacing-lg);
}

@media (min-width: 800px) {
  .Work {
    margin-top: var(--spacing-lg);
  }
}

html:not(.has-js) .Work-grid {
  display: grid;
  grid-gap: var(--spacing-lg);
}

@media (min-width: 1400px) {
  html:not(.has-js) .Work-grid {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  }
}

@media (min-width: 1800px) {
  html:not(.has-js) .Work-grid {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
  }
}

.Work-item {
  overflow: hidden;
}

.Work-mediaWrap {
  position: relative;
  display: block;
  padding-bottom: calc(900 / 1200 * 100%); /* height / width * 100%  */
  height: 0;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

@media (prefers-color-scheme: dark) {
  .Work-mediaWrap {
    filter: brightness(75%);
    transition: filter 400ms ease;
  }

  .Work-mediaWrap:hover {
    filter: brightness(100%);
  }
}

.Work-mediaWrap:focus {
  outline: none;
}

.Work-item--tall .Work-mediaWrap {
  padding-bottom: 100%;
}

.Work-item--medium .Work-mediaWrap {
  padding-bottom: calc(800 / 1200 * 100%);
}

.Work-item--saqmi .Work-mediaWrap {
  background-color: #fff8dc;
}

.Work-item--forfattaren .Work-mediaWrap {
  background-color: #fef9eb;
}

.Work-item--filosofera .Work-mediaWrap {
  background-color: #006cb3;
  background-image: linear-gradient(-59deg, #006cb3 0%, #7ac6c2 100%);
}

.Work-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  backface-visibility: hidden;
  transition: opacity 200ms ease 100ms;
}

img.Work-media {
  object-fit: cover;
}

video.Work-media {
  border-radius: 4px 4px 0 0;
}

.Work-item--video .Work-mediaWrap {
  background: #111;
  padding-bottom: calc(720 / 1280 * 100%);
}

.Work-item--saqmi .Work-media,
.Work-item--forfattaren .Work-media {
  padding: 10%;
}

.Work-item--filosofera .Work-media {
  transform: rotateY(180deg);
  backface-visibility: visible;
  padding: 15%;
}

@media (min-width: 1400px) {
  .Work-item:nth-child(2) .Work-media {
    transition-delay: 200ms;
  }
}

@media (min-width: 1800px) {
  .Work-item:nth-child(3) .Work-media {
    transition-delay: 300ms;
  }
}

.Work-media[data-loading=lazy]:not(.is-loaded) {
  opacity: 0;
}

.fmf-hand {
  animation: wave 1200ms ease-in-out infinite;
  transform-origin: 35% 10%;
}

.fmf-head {
  display: block;
  animation: head 3000ms ease-in-out alternate infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: rotateZ(-25deg);
  }

  50% {
    transform: rotateZ(0deg);
  }
}

@keyframes head {
  0%,
  40% {
    transform: translate3d(0, 0, 0);
  }

  60%,
  100% {
    transform: translate3d(-1px, 2px, 0);
  }
}


.Work-info {
  background-color: #fff;
  color: var(--color-dark);
  padding: 1.2rem 1.4rem 1.4rem;
  border-radius: 0 0 4px 4px;
}

@media (prefers-color-scheme: dark) {
  .Work-info {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.75);
  }
}

@media (min-width: 600px) {
  .Work-info {
    padding: 2rem 2.2rem 2.2rem;
  }
}

.Work-role,
.Work-infoLink {
  margin-top: 1.8em;
}

.Work-role {
  display: none;
  color: var(--color-gray);
}

.Work-infoLink {
  display: inline-block;
}

@media (min-width: 900px) {
  .Work-infoLink {
    font-size: 1.2em;
  }
}

@media (min-width: 1600px) {
  .Work-infoLink {
    font-size: 1.4em;
  }
}

.Work-infoLink > * {
  display: inline;
  vertical-align: middle;
  line-height: 1;
}

.Work-infoLink svg {
  width: 1ch;
  height: 1ch;
  margin-right: 4px;
  transform: translateY(1px);
}

.Work-infoLink span {
  opacity: 1;
  transition: opacity 100ms ease;
  text-decoration: underline;
}

.Work-infoLink:focus,
.Work-infoLink:hover span {
  opacity: 0.7;
}
