.WorkExcerpt {
  --WorkExcerpt-coop-1: #00ad25;
  --WorkExcerpt-coop-2: #f3f5f0;
  --WorkExcerpt-arkitektur: #e5342a;
  --WorkExcerpt-rdev: #000;
  --WorkExcerpt-filosoferamedflera-1: #006cb3;
  --WorkExcerpt-filosoferamedflera-2: linear-gradient(60deg, #006cb3 0%, #7ac6c2 100%);
  --WorkExcerpt--you: #ffcdcd;
  --WorkExcerpt-phone-padding: calc((1000 / 581) * 100%);
  --WorkExcerpt-tablet-padding: calc((782 / 581) * 100%);

  overflow: hidden;
}


.WorkExcerpt-grid {
  display: grid;
  grid-gap: var(--global-spacing);
  grid-template-columns: minmax(200px, 1fr) minmax(200px, auto);
  align-items: center;
  justify-content: space-between;
}

@media (--sm-viewport) {
  .WorkExcerpt-grid {
    grid-template-columns: minmax(300px, 1fr) minmax(200px, 300px);
  }
}

@media (--lg-viewport) {
  .WorkExcerpt-grid {
    grid-template-columns: minmax(400px, 1fr) minmax(200px, 400px);
  }
}


/* Title */

.WorkExcerpt-title {
  font-size: 1.5em;
  line-height: var(--text-lineheight-small);
  margin-bottom: calc(var(--global-spacing-xs) * .5);
  font-weight: var(--text-bolder);
}

@media (--xs-viewport) {
  .WorkExcerpt-title {
    font-size: calc(1.5em + 2.5vw);
  }
}

@media (--xl-viewport) {
  .WorkExcerpt-title {
    font-size: 4.5em;
  }
}

/* Work description */

@media (--sm-viewport) {
  .WorkExcerpt-text {
    max-width: 550px;
  }
}

@media (--xl-viewport) {
  .WorkExcerpt-text {
    max-width: 650px;
  }
}

/* Info */

.WorkExcerpt-info {
  margin-top: var(--global-spacing-xs);
  font-size: var(--text-size);
  line-height: var(--text-lineheight-large);
}

.WorkExcerpt-infoItem,
.WorkExcerpt-infoTitle {
  padding-bottom: .5em;
  display: inline;
}

.WorkExcerpt-infoTitle {
  margin-right: .3em;
  font-weight: var(--text-bold);
}

.WorkExcerpt-infoItem::after {
  content: "\A";
  white-space: pre;
}

p.WorkExcerpt-infoItem {
  display: block;
}

p.WorkExcerpt-infoItem .WorkExcerpt-infoTitle {
  margin-right: .25em;
}

.WorkExcerpt-infoLink {
  display: inline-block;
  line-height: var(--text-lineheight-small);
  border-bottom: 1px dashed currentColor;
  white-space: nowrap;
}

.WorkExcerpt-infoLink:hover,
.WorkExcerpt-infoLink:focus {
  border-bottom-style: solid;
  outline: none;
}


/* Image */

.WorkExcerpt-imageWrap {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 450px) and (--md-max-viewport) {
  .WorkExcerpt-imageWrap {
    justify-content: center;
  }
}

@media (--sm-viewport) {
  .WorkExcerpt-imageWrap {
    display: block;
  }
}


.WorkExcerpt-image {
  width: auto;
  max-height: 100vh;
  display: block;
  margin: 0 auto;
}

@media (min-height: 500px) and (--sm-viewport) {
  .WorkExcerpt-image {
    max-height: 85vh;
  }
}

@media (--xs-max-viewport) {
  .WorkExcerpt-image {
    display: none;
  }
}

@media (--sm-max-viewport) {
  .WorkExcerpt-image {
    max-height: 400px;
    min-height: 300px;
    transform: rotate(-5deg);
  }
}


/* Lazy load fade in */

html:not(.no-js) .WorkExcerpt-image.is-lazy {
  transition: opacity 400ms ease;
}

html:not(.no-js) .WorkExcerpt-image.is-lazy:not(.is-loaded) {
  opacity: 0;
}


/* Coop */

.WorkExcerpt--coop {
  background: var(--WorkExcerpt-coop-2);
  color: var(--WorkExcerpt-coop-1);
}


/* Arkitektur */

.WorkExcerpt--arkitektur {
  background: var(--WorkExcerpt-arkitektur);
  color: #fff;
}


/* Rikskriscentrum */

.WorkExcerpt--rikskriscentrum {
  background: var(--WorkExcerpt-rikskriscentrum-2);
  color: var(--WorkExcerpt-rikskriscentrum-1);
}


/* Filosofera med flera */

.WorkExcerpt--filosoferamedflera {
  background-color: var(--WorkExcerpt-filosoferamedflera-1);
  background-image: var(--WorkExcerpt-filosoferamedflera-2);
  color: #fff;
}


/* RDEV */

.WorkExcerpt--rdev {
  background: var(--WorkExcerpt-rdev);
  color: #fff;
}


/* You */

.WorkExcerpt--you {
  background: var(--WorkExcerpt--you);
}

.WorkExcerpt--you .WorkExcerpt-grid {
  display: block;
}

.WorkExcerpt--you .WorkExcerpt-text {
  margin: 0 auto;
}

@media (--sm-viewport) {
  .WorkExcerpt--you {
    text-align: center;
    padding: calc(var(--global-spacing) * 2) 0;
  }
}

.WorkExcerpt--you .WorkExcerpt-infoItem::after {
  content: normal;
}


/* Set correct height to lazy loading hidden images */

@media (--sm-viewport) and (min-height: 700px) {
  html:not(.no-js) .WorkExcerpt--arkitektur .WorkExcerpt-image.is-lazy:not(.is-loaded),
  html:not(.no-js) .WorkExcerpt--filosoferamedflera .WorkExcerpt-image.is-lazy:not(.is-loaded),
  html:not(.no-js) .WorkExcerpt--ninnan .WorkExcerpt-image.is-lazy:not(.is-loaded) {
    height: 0;
    padding-bottom: var(--WorkExcerpt-phone-padding);
  }

  html:not(.no-js) .WorkExcerpt--rdev .WorkExcerpt-image.is-lazy:not(.is-loaded) {
    height: 0;
    padding-bottom: var(--WorkExcerpt-tablet-padding);
  }
}
