.Alert {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 1em;

  background: $red;

  &,
  a {
    color: #fff;
  }

  a {
    font-weight: 600;
    text-decoration: underline;
  }
}