.Alert {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;

  background: $red;
  color: #fff;
}

.Alert-text {
  margin: 15px 20px;
}

.Alert-text  a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}
