.Button {
    display: inline-block;
    padding: 1em 2em;
    border-radius: 40px;
    transition: transform 300ms ease;

    background: $blue;
    color: #fff;

    will-change: transform;

    &:hover, &:target {
      transform: scale(1.05);
    }

    &:active {
      transition-duration: 50ms;
      transform: scale(1);
    }

  }

  @include respond-max(800px) {
    padding: .6em 1em;
    letter-spacing: 0;
  }

}