.Comments {
  padding-top: $section-spacing-large;
  margin: 0 auto;

  iframe {
    transition: height 500ms ease;
  }

  @include respond-max(800px) {
    padding-top: $section-spacing-mobile;
  }
}

.Comments-symbol {
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 80px;
}
