.Navigation {
  position: absolute;
  top: 1.2em;
  right: -1.9em;
  z-index: 9;

  li {
    position: relative;
    display: inline-block;
    margin: 0 .25em;
  }

  a {
    display: block;
    padding: 1em 2em;
    color: #fff;
    letter-spacing: 1px;
  }

  .is-active {

  }
}

@include respond-min($threshold) {
  .Navigation a {
    &:after {
      content: "";
      position: absolute;
      width: 65%;
      height: 2px;
      bottom: .5em;
      left: 0;
      right: 0;
      margin: auto;

      background-color: currentColor;
      opacity: 0;
      transform: scaleX(0);
      transition: transform 200ms, opacity 50ms 150ms;
    }
    &:hover {
      color: #fff;
    }
    &:hover:after {
      opacity: 1;
      transform: scaleX(1);
      transition: transform 200ms;
    }
  }
}

@include respond-max(850px) {
  .Navigation {
    font-size: .9em;
    top: 1.5em;
  }
}

@include respond-max($threshold) {
  .Navigation {
    position: fixed;
    top: 0;
    right: 0;

    width: $canvasWidth;
    height: 100%;

    background: $red;

    visibility: hidden;
    opacity: 1;

    transform: translate3d(#{$canvasWidth - 60px},0,0);
    transition: $canvasTransition;

    ul {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
    }

    li {
      display: block;
      &:last-child a {
        padding-right: 0;
      }
    }

    a {
      display: block;
      padding: .5em 0 0 1em;
      font-size: 1.75em;

      &.is-active span {
        border-bottom: 3px solid #fff;
      }
      &:hover {
        opacity: .7;
      }
    }

    .nav-isOpen & {
      transform: translate3d(0, 0, 0);
      transition: $canvasTransition;
      visibility: visible;
    }
  }
}

@include respond-max($canvasWidth + 100px) {
  .Navigation {
    width: $canvasWidth-mobile;
    transform: translate3d(#{$canvasWidth-mobile - 60px},0,0);
    transition: transform 500ms ease, visibility 500ms linear 500ms;
  }
}

@include respond-min(1600px) {
  .Navigation {
    font-size: 1.2em;
  }
}




.Navigation-toggle {
  position: absolute;
  top: 1.2em;
  right: 5.5%;
  z-index: 10;

  padding: .65em 1em;

  border: 1px solid #fff;
  border-radius: 4px;

  background: transparent;
  font-size: .85em;
  color: #fff;

  display: block;

  .no-touchevents &:hover {
    background: #fff;
    color: $red;
  }

  @include respond-min($threshold) {
    display: none;
  }
}

html.no-js .Navigation-toggle {
  display: none;
}

.Navigation-toggle:focus {
  background: rgba(255,255,255,.3);
}
