.Sitefooter {
  position: relative;
  background: #fff;
  padding: 3em 0;
  border-top: 1px solid $gray;
  overflow: hidden;
  text-align: center;

  @include respond-max(800px) {
    font-size: .85em;
  }
  @include respond-max(400px) {
    padding: 1.5em 0;
    font-size: .8em;
  }
}


.Sitefooter-info {
  line-height: 1.8;
}

@include respond-max(800px) {
  .Sitefooter-info {
    line-height: 1.5;
  }
}

.Sitefooter-info strong {
  font-weight: 400;
}

.Sitefooter-info a {
  position: relative;
  @include hoverLink;
  &:after {
    bottom: -3px;
  }
}

.Sitefooter-name {
  padding: 6px 8px;
  font-size: 1.1em;
  font-weight: 600;
}

.Sitefooter-title {
  margin-bottom: .2em;
}

.Sitefooter-address,
.Sitefooter-email {
  margin: 0 .5em;
}


.Octocat {
  position: absolute;
  bottom: 0;
  right: 2.5%;
  display: block;
  width: 150px;
  height: 150px;

  transition: none;

  @include respond-max(700px) {
    width: 44px;
    height: 44px;
  }
}

.Octocat-image {
  display: block;
  width: 60px;
  height: 60px;

  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: auto;

  background: url('../images/octocat.svg') no-repeat 50% 100%;
  background-size: 100%;

  transition: transform 400ms ease;

  @include respond-max(700px) {
    bottom: -5px;
    width: 44px;
    height: 44px;
  }
}

.Octocat-inner {
  position: absolute;
  left: 50%;
  bottom: 60px;

  width: 175px;
  padding: .5em;
  border-radius: 3px;

  pointer-events: none;

  background: $text;
  background: rgba(0,0,0,.8);

  color: #fff;
  font-size: 14px;
  text-align: center;

  transform: translate3d(-50%, 100%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;

  .no-csstransforms & {
    left: 25%;
    left: calc(50% - 87px);
  }

  &:after {
    content: " ";
    font-size: 0;
    line-height: 0;
    position: absolute;
    width: 0;

    border-top: 5px solid $text;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
  }

  @include respond-max(700px) {
    display: none;
  }
}

.Octocat:focus .Octocat-image,
.Octocat:hover .Octocat-image {
  transform: translateY(-22px);
}

.Octocat:focus .Octocat-inner,
.Octocat:hover .Octocat-inner {
  opacity: 1;
  visibility: visible;
  transform: translate3d(-50%, 0, 0);
  transition: all 400ms ease;
}
