

.Table {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  table {
    text-align: left;
    width: 100%;
    min-width: 600px;
  }

  td,
  th {
    padding: .5em;
  }

  @include respond-max(800px) {
    border: 1px solid #ccc;
  }

}