/**
 * WorkItem, used on the front page.
**/

.WorkItem {
  background: $text;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;

  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: #fff;

  height: 800px;
  height: 90vh;
  min-height: 500px;

  @include respond-max(800px) {
    background-position: 50% 50%;
    background-size: auto 100%;
    max-height: 400px;
    max-height: 51vh;
    min-height: 300px;
  }

  @media (min-height: 1000px) {
    height: 950px;
    height: 90vh;
  }
  @media (min-height: 1100px) {
    height: 1050px;
    height: 90vh;
  }
  @media (min-height: 1200px) {
    height: 1150px;
    height: 90vh;
  }


}


.WorkItem-wrapper {
  position: relative;
  height: 100%;
}



.WorkItem-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 75%;
  max-width: 675px;

  div {
    display: inline-block;
  }

  .no-csstransforms & {
    top: 20%;
  }

  @include respond-min(1600px) {
    max-width: 800px;
    font-size: 1.2em;
  }

  @include respond-max(800px) {
    width: 100%;
    padding: 20% 0;
    div {
      display: block;
    }
  }
}

.WorkItem-text {
  margin: .5em 0 1.5em;
  font-size: 1.2em;
  max-height: 300px;
  max-width: 500px;

  opacity: 1;
  padding: 0;
}

@include respond-min(1600px) {
  .WorkItem-text {
    max-width: 700px;
  }
}

@include respond-max(800px) {
  .WorkItem-text {
    height: 0;
    overflow: hidden;
    margin: 0 0 1em;
  }
}


.WorkItem-link {
  display: inline-block;
  padding: .65em 1.5em;
  border: 2px solid #fff;
  letter-spacing: 1px;
  border-radius: .4em;
  color: #fff;
  max-height: 300px;
  transition: background 150ms ease, color 150ms ease, transform 100ms;
  margin: 0 1.5em 1em 0;

  transform: scale(1);
  opacity: 1;

  &:hover {
    background: #fff;
    color: $text;
  }

  .no-touchevents &:hover {
    transform: scale(1.08);
  }
}

@include respond-max(800px) {
  .WorkItem-link {
    margin: 0 .5em 1em 0;
    font-size: .8em;
    border-width: 1px;
    letter-spacing: 0;
    padding: .45em 1.2em;
  }
}

.WorkItem-title {
  font-size: 4.55em;
  line-height: 1.2;
  @include respond-max(800px) {
    font-size: 3em;
  }
  @include respond-max(400px) {
    font-size: 2.2em;
  }
}
