/* Fonts */
@import "base/fonts";

/* Variables */
@import "base/config";

/* Resetting styles */
@import "base/base";

/* Components */
@import "components/about";
@import "components/blob";
@import "components/color-link";
@import "components/container";
@import "components/foot";
@import "components/head";
@import "components/intro";
@import "components/list";
@import "components/section";
@import "components/tooltip";
@import "components/type";
@import "components/work";

/* Utilities */
@import "utilities/misc";

/* Print */
@import "base/print";

html,
body {
  overflow-x: hidden;
}

.Wrap {
  display: block;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}
