/** @define Grid; */

:root {
  --Grid-gutter-size: 80px;
  --Grid-font-size: 1rem;
}


/* Gutter on different viewport widths */
@media (--sm-max-viewport) {
  .Grid-sm--withGutter {
    margin: 0;
  }
  .Grid-sm--withGutter > .Grid-cell {
    padding: 0;
  }
}

@media (--md-max-viewport) {
  .Grid-md--withGutter {
    margin: 0;
  }
  .Grid-md--withGutter > .Grid-cell {
    padding: 0;
  }
}

@media (--lg-max-viewport) {
  .Grid-lg--withGutter {
    margin: 0;
  }
  .Grid-lg--withGutter > .Grid-cell {
    padding: 0;
  }
}



/*
# Available classes

Grid: core component
Grid--alignCenter: center-align all child Grid-cell
Grid--alignRight: right-align all child Grid-cell
Grid--alignMiddle: middle-align all child Grid-cell
Grid--alignBottom: bottom-align all child Grid-cell
Grid--fit: evenly distribute space amongst all child Grid-cell
Grid--equalHeight: all child Grid-cell match height of the tallest
Grid--withGutter: adds a gutter between cells
Grid-cell: a child cell of Grid that wraps grid content
Grid-cell--center: center an individual Grid-cell
*/
