/** @define Head */

:root {
  --Head-color: var(--color-text);
}


.Head {
  position: relative;
  z-index: 10;
}


.Head-nav {
  display: flex;
  justify-content: space-between;
}

.Head-logo,
.Head-navItem {
  display: block;
  padding: 1em 0;

  color: var(--Head-color);
}

.Head-logo {
  font-weight: var(--font-bold);
}

@media (--md-viewport) {
  .Head-logo,
  .Head-navItem {
    font-size: 1.2em;
  }
}


@media (--lg-viewport) {
  .Head-logo,
  .Head-navItem {
    padding: 1.5em 0;
    font-size: 1.4em;
  }

  .Head-navItem {
    font-weight: var(--font-normal);
  }
}




@media (--lg-viewport) {
  .Head--front {
    margin-bottom: -40px;
  }
}
