/** @define Section */

.Section {
  padding: var(--site-spacing-sm) 0;
}

@media (--md-viewport) {
  .Section {
    padding: var(--site-spacing-md) 0;
  }
}

@media (--lg-viewport) {
  .Section {
    padding: var(--site-spacing-lg) 0;
  }
}

@media (--xl-viewport) {
  .Section {
    padding: var(--site-spacing-xl) 0;
  }
}
