/** @define Work */

:root {
  --Work-asd: 123;
}


.Work {

}


.Work-head,
.Work-entry,
.Work-image,
.Work-quote {
  margin: var(--site-spacing-sm) 0;
  display: block;
}

@media (--lg-viewport) {
  .Work-head,
  .Work-entry,
  .Work-image,
  .Work-quote {
    margin: var(--site-spacing-lg) 0;
  }
}

@media (--xl-viewport) {
  .Work-head,
  .Work-entry,
  .Work-image,
  .Work-quote {
    margin: var(--site-spacing-xl) 0;
  }
}



.Work-head {
  max-width: var(--site-width-narrow);
}



.Work-title {
  font-size: 6em;
  font-weight: var(--font-bold);
}


.Work-preamble,
.Work-preambleLink {
  margin-top: 1em;
  font-size: 1.4em;
}

.Work-preambleLink {
  border-bottom: 2px solid currentColor;
  display: inline-block;
}



.Work-image {
  margin: 0 auto;
  display: block;
}


.Work-imageCover {
  background-size: cover;
  background-position: 50% 20%;
  display: block;
  margin: 0;
  min-height: 300px;
  width: 100%;

  background-image: url("/assets/images/coop/coop1.jpg");
}

@media (--sm-viewport) {
  .Work-imageCover {
    min-height: 600px;
  }
}

@media (--md-viewport) {
  .Work-imageCover {
    min-height: 800px;
  }
}

@media (--lg-viewport) {
  .Work-imageCover {
    min-height: 1000px;
  }
}




.Work-quote {
  background: var(--color-coop2);
  color: #fff;
  padding: var(--site-spacing-sm) 0;
  font-size: 1.5em;
}

@media (--lg-viewport) {
  .Work-quote {
    font-size: 2.5em;
    padding: var(--site-spacing-lg) 0;
  }
}

@media (--xl-viewport) {
  .Work-quote {
    font-size: 3em;
  }
}
