
@keyframes fadeinTop {
  0%, 25% {
    opacity: 0;
    transform: translate3d(0,-60%,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

%fadeinTop {
  animation: fadeinTop 1000ms $nice-easing 1;
}


@keyframes fadeinBottom {
  0%, 25% {
    opacity: 0;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

%fadeinBottom {
  animation: fadeinBottom 700ms $nice-easing 1;
}


@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

%fadein {
  animation: fadein 1000ms $nice-easing 1;
}


@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

%shake {
  animation: shake 400ms ease-in-out;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

%bounce {
  animation: bounce 2000ms ease-in-out infinite;
}