*,
*:after,
*:before {
  @include box-sizing(border-box);
}
html {
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	height: 100%;
}
body {
	background:#fff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 1.5;
	color: #181818;
	position: relative;
	height: 100%;
}
.wrapper {
	max-width: 2000px;
	width: 90%;
	margin: 0 auto;
}
img {
	max-width:100%;
	height: auto;
}
a {
	color: #222;
	text-decoration:none;
	@include transition(color .2s linear);
	cursor: pointer;
	&:hover {
		color: #000;
		text-decoration:none;
	}
	&:active {
		outline:none;
	}
}
input, textarea{
	-webkit-appearance:none;
	appearance: none;
	border: none;
	outline: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	border-radius: 0px;
	&:active {
		outline:none;
	}
}


@include selection {
	background: $blue;
	color: #fff;
}