.footer {
	text-align: center;
	background: #fafafa;
	padding: 30px 0;
  border-top: 1px solid #e5e5e5;
	div {
		display: inline;
		line-height: 1.8;
	}
	strong, .jobtitle {
		display: block;
	}
	strong {
		font-size: 1.2em;
	}
	.jobtitle {
		margin-bottom: .2em;
	}
	.adress,.epost,.telefon {
		margin: 0 1.5em;
	}
}