.lazy-load, .lazy-loaded {
  @include transition(opacity 300ms ease);
  opacity: 0;
}
.lazy-loaded {
	opacity: 1;
}



.chromeframe {
	padding: 5px  10px;
	color: #fff;
	a {
		color: $red;
		border-bottom: 2px solid $red;
		padding-bottom: 1px;
		font-weight: 700;
	}
}

.no-svg {
	.arkdes {
		.app-store {
			background: url(images/app-store.png) no-repeat center center;
			background-size: 135px;
		}
		.google-play {
			background: url(images/google-play.png) no-repeat center center;
			background-size: 135px;
		}
	}
}
.error404 #top{
	-webkit-animation: error 5s 0s linear infinite normal;
	animation: headerbg 5s 0s linear infinite normal;
	height: 100%;
	h2 {
		font-size: 6em;
		top: 35%;
	}
}
.lte-ie9 {
	.main-nav li {
		float: left;
	}
	.needsfilled {
		border-color: red !important;
	}
}