.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.clearfix {
  @extend %clearfix;
}


/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */

.textTruncate {
  max-width: 100%; /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important; /* 2 */
}


/**
 * Lazyloading images
 */
img.lazy-load {
	@extend %rotate;
	width: 150px;
	height: 150px;
	@include transition (opacity 300ms ease);
	margin-bottom: 5em !important;
}
img.lazy-loaded {
	opacity: 1;
}

.no-js {
  .lazy-load {
    display: none;
  }
}

/**
 * Responsive Video
 */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow:
	hidden; max-width: 100%;
	height: auto;
	margin: 1em 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/**
 * Warning that appears for browsers using IE 8 and older.
 */
.iewarning {
	background: $red;
	padding: 20px 30px;
	color: #fff;
	a {
		color: #fff;
		border-bottom: 2px solid #fff;
		padding-bottom: 1px;
		font-weight: 700;
	}
}

/**
 * 404 page
 */
.fourofour {
	overflow: hidden;
	#top {
		height: 100%;
		h2 {
			display: block;
			margin: 0 auto;
			width: 100%;
			text-align: center;
		}
	}
	.logo, .main-nav {
		z-index: 999;
	}
}
#SvgjsSvg1000 {
	position: absolute !important;
}
#SvgjsRect1002 {
	cursor: pointer;
}
#SvgjsText1003 {
	margin-top: 200px !important;
}





.no-svg {
	.arkdes {
		.app-store {
			background: url(images/app-store.png) no-repeat center center;
			background-size: 135px;
		}
		.google-play {
			background: url(images/google-play.png) no-repeat center center;
			background-size: 135px;
		}
	}
	.social {
		.email {
			background: url(images/ommig/email.png) no-repeat;
		}
		.twitter {
			background: url(images/ommig/twitter.png) no-repeat;
		}
		.github {
			background: url(images/ommig/github.png) no-repeat;
		}
	}
	.designisajob {
		background: url(images/ommig/design-is-a-job.jpg) no-repeat;
	}
}

.lte-ie9 {
	.main-nav li {
		float: left;
	}
	.needsfilled {
		border-color: red !important;
	}
}