@media only screen and (min-width: 1500px) {
	.work img {
		max-width: 1400px;
	}
	.recommend {
		max-width: 1600px;
		margin: 10em auto 5em auto;
		.col {
			margin-right: 4%;
			&.websites {
				margin-right: 2%;
			}
			&.inspiration {
				position: relative;
				left: 3%;
				h4 {
					margin-top: 0px;
				}
			}
			&.websites, &.inspiration {
				width: 14%;
				float: left;
				white-space: nowrap;
			}
		}
	}
}

@media only screen and (min-width: 1140px) {
	.logo {
    left: 60px;
  }
  .main-nav {
    right: 35px;
  }
	.work {
		padding: 14em 0 13.5em 0;
	}
}

@media only screen and (max-width: 1024px) {
	.ommig img:hover {
		@include scale(1);
	}
}

@media only screen and (max-width: 1000px) {
  .home #top, #top {
    height: auto;
    text-align: center;
    h2 {
      position: static;
      padding: .2em 0;
    }
  }
  .home #top h2 {
    font-size: 1.5em;
    font-weight: 300;
    padding: 4em 0 5em 0;
  }
  .logo {
    position: static;
    float: none;
    display: block;
    padding: 1.5em 0;
    white-space: normal;
  }
  .main-nav {
    position: static;
    ul {
      float: none;
    }
  }
	.work {
		h1 {
			font-size: 2.3em;
		}
		.info {
			width: 100%;
			text-align: center;
			margin: 2.5em 0 1em 0 ;
			p, p:first-child {
				margin: 0 1em 0 0;
			}
			.visit {
				float: none;
				position: static;
				margin: 2em auto 0 auto;
				display: inline-block;
				width: auto;
			}
		}
		.app-links {
			float: none;
			text-align: center;
			a {
				margin: 10px 20px;
			}
		}
	}
}


@media only screen and (max-width: 800px) {
	.work {
		padding: 6em 0 5em 0;
	}
	.recommend {
		font-size: .9em;
		.col {
			width: 47%;
			article {
				margin: 0 0 2em 0;
			}
			&.podcasts {
				float: right;
				margin: 0;
			}
			&.websites {
				width: 50%;
			}
		}
		.inspiration {
			h4 {
				margin-top: 0px;
			}
		}
	}
}


@media only screen and(max-width: 600px ) {
	#top h2 {
		font-size: 2em;
    padding: 1em 0;
	}
  .home #top h2 {
    padding: 2em 0 3em 0;
    font-size: 1.1em;
  }
  .main-nav a {
    display: block;
    padding: 0.5em 1em
  }
	.ommig {
    margin: 3em auto;
		h3 {
			font-size: 1.5em;
		}
		img {
			width: auto;
      max-height: 225px;
			margin: 10px auto -40px auto;
			display: block;
			float: none;
			@include rotate(0deg);
		}
		p {
			font-size: 1.2em;
		}
	}
	.contact {
		margin: 3em auto;
		h3 {
			font-size: 1.5em;
		}
	}
	#contact-form {
		font-size: 1.4em;
		label {
			display: block;
			width: 100%;
			line-height: 1;
			margin-bottom: -5px;
		}
		input {
			text-indent: 0px;
			width: 100%;
			margin: 0 0 1em 0;
		}
		textarea {
			height: 120px;
			padding: 10px;
		}
		input[type="submit"] {
			max-width: 200px;
			margin: 20px 5px 0;
			&:active {
				margin: 20px 5px 0 0;
			}
		}
	}
	.recommend {
		margin: 10em 0 5em 0;
		h3 {
			font-size: 1.6em;
		}
		h4 {
			margin-top: 1em;
		}
		.col {
			width: 100%;
			float: none;
			p {
				font-size: 1.2em;
			}
			&.websites {
				width: 45%;
				float: left;
			}
		}
		.inspiration {
			width: 45%;
			float: right;
			h4 {
				margin-top: 1em;
			}
		}
	}
	.footer {
		div {
			display: block;
			line-height: 1.4;
			margin: 0;
		}
		.adress {
			margin-top: .8em;
			display: block;
			div {
				display: inline;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.work {
		padding: 1px 0 3em 0;
		h1 {
			font-size: 2em;
			white-space: normal;
		}
		img {
			margin: 3.5em 0 2.5em 0;
			float: none;
		}
		.work-info {
			float: none;
			p {
				display: block;
				margin: 0 0 10px 0;
			}
		}
		.app-links {
			float: none;
			text-align: center;
			a {
				margin: 10px 0;
			}
		}
	}
}
@media only screen and (max-width: 340px) {
	.work {
		h1 {
			font-size: 1.5em;
		}
		.info .visit {
			width: auto;
			padding: 0;
			font-size: 1.1em;
			padding: .8em;
		}
    .app-links a {
      margin: 0;
    }
	}
	.ommig {
		margin: 2.5em auto 0 auto;
	}
	.recommend {
		margin: 5em auto;
		.container {
			margin: 1em auto;
		}
		.websites .half {
			max-width: 100%;
			width: 100%;
			margin: 0;
			float: none;
			&:last-child {
				float: none;
			}
		}
	}
	#contact-form {
		input {
			width: 100% !important;
		}
	}
}

@include respond-max(300px) {
	.recommend {
		.col.websites, .inspiration {
			width: 100%;
			float: none;
		}
	}
}

@media print {
	* {
		background: none;
		box-shadow: none;
		color: #000;
		text-shadow: none;
		-webkit-filter:grayscale(100%);
		-ms-filter:grayscale(100%);
		filter:Gray();
		filter:url(desaturate.svg#grayscale);
		filter:grayscale(100%);
		-o-filter:grayscale(100%);
	}
	a {
		text-decoration: underline;
	}
	.ommig {
		img {
			@include rotate(0);
		}
	}
	.recommend span {
		display: none;
	}
}