@media print {

  * {
    background: none;
    box-shadow: none;
    color: #000;
    text-shadow: none;
  }

  a {
    text-decoration: underline;
    border: 0 !important;
    font-size: 1em;
  }

  .PageNav,
  .Octocat,
  .Navigation-toggle,
  .u-printHide {
    display: none;
  }

  .Canvas {
    overflow: visible !important;
  }

  section {
    page-break-before: always;
  }

  // TODO: Remove when resume is printable
  .About-library {
    display: none;
  }
}
