@media print {

  * {
    background: none;
    box-shadow: none;
    color: #000;
    text-shadow: none;
  }

  a {
    text-decoration: underline;
    border: 0 !important;
    font-size: 1em;
  }

  .Page-front .Sitehead,
  .About-library footer,
  .Printlink,
  .About-theBoringStuff header p,
  .Sitehead-logo,
  .Worklist-itemInner a,
  .PageNav,
  .Octocat {
    display: none;
  }

  .Canvas {
    overflow: visible !important;
  }

  .Worklist-item {
    text-align: left;
    h1 {
      font-size: 1.5em;
    }
  }

  section {
    page-break-before: always;
  }

  // TODO: Remove when resume is printable
  .About-library {
    display: none;
  }
}