h1,h2,h3,h4,h5,h6 {
  font-size: 1em;
  line-height: 1.2;
}
ul, ol {
  list-style: none;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}
p,h1,h2,h3,h4,h5,h6,ul,ol {
  margin: 0;
}
a {
  color: $text;
  text-decoration:none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.u-textStrong {
  font-weight: 600;
}













/**
 * Basic typography
 */
.Entry {
  font-size: 1.4em;

  p {
    font-family: $serif;
  }

  p, li {
    a {
      border-bottom: 2px solid $text;
      padding: 0 2px 1px 2px;
    }
  }

  img {
    margin: 1em 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 2em;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5, h6 {
    font-size: 1em;
  }
  blockquote {
    margin: 10% -2em;
    font-size: 1.4em;
    line-height: 1.2;
    color: #666;
    font-weight: 600;
  }
  i, em {
    font-style: italic;
  }
  ul, ol {
    margin: 2em 0;
  }
  ul {
    list-style: disc inside;
  }
  ol {
    list-style: decimal inside;
  }
  li {
    font-family: $serif;
  }
  @include respond-max(800px) {
    font-size: 1em;
    blockquote {
      margin: 10% 0;
    }
    p {
      margin-bottom: 1.5rem;
    }
    p, li {
      a {
        border-bottom-width: 1px;
      }
    }
  }
  @include respond-min(1600px) {
    font-size: 1.5em;
  }
}