h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 600;
}

a {
  color: $text;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}









/**
 * Basic typography
 */
.Entry {
  font-size: 1.4em;
  line-height: 1.7;

  p, li, td {
    a {
      border-bottom: 2px solid #000;
      padding: 0 2px 1px 2px;
      color: #000;
    }
    a:hover {
      color: $text;
    }
    a:visited {
      color: #666;
    }
  }

  img {
    margin: 1em 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
  }
  p {
    font-family: $serif;
    margin-bottom: 2em;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5, h6 {
    font-size: 1em;
  }
  blockquote {
    margin: 10% -2em;
    font-size: 1.4em;
    line-height: 1.5;
    color: #666;
    font-weight: 600;
  }
  i, em {
    font-style: italic;
  }
  ul, ol {
    margin: 2em 0;
  }
  ul {
    list-style: disc inside;
  }
  ol {
    list-style: decimal inside;
  }
  li {
    font-family: $serif;
  }
  hr {
    margin: $section-spacing 0;
    border: 0;
    background-color: $gray;
    height: 1px;
  }
  @include respond-max(800px) {
    font-size: 1em;
    blockquote {
      margin: 10% 0;
    }
    p {
      margin-bottom: 1.5rem;
    }
    p, li {
      a {
        border-bottom-width: 1px;
      }
    }
    hr {
      margin: $section-spacing-mobile 0;
    }
  }
  @include respond-min(1600px) {
    font-size: 1.5em;
  }
}

.Entry-code {
  width: 90%;
  max-width: 1000px;
  margin: $section-spacing auto !important;
  font-size: .8em;
  padding: 1.4em 2em !important;
  border-radius: 3px;
  overflow: auto;
  @include respond-min(1600px) {
    margin: $section-spacing-large auto !important;
  }
  @include respond-max(800px) {
    margin: $section-spacing-mobile auto !important;
  }
}

.Entry-images {
  margin: $section-spacing 0;

  @include respond-min(1600px) {
    margin: $section-spacing-large 0;
  }
  @include respond-max(800px) {
    margin: $section-spacing-mobile 0;
  }
}