%clearfix {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

/* Colors */
$blue: #4cd2da;
$red: #ef4b44;
$green: #2ecc71;
$yellow: #f1c40f;
$darkblue: #34495e;
$orange: #f39c12;

$daytona: #6cc055;
/* Fonts */
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$josefin: 'Josefin Sans', 'Futura';
$serif: 'Lora', Georiga, Cambria, serif;

/* Mixins */
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
}

@mixin selection {
  ::selection {
    @content;
  }
  ::-moz-selection {
    @content;
  }
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content;
    }
    :-moz-placeholder { /* Firefox 18- */
        @content;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }
    :-ms-input-placeholder {
        @content;
    }
    input:focus {
      ::-webkit-input-placeholder {
          @content;
      }
      :-moz-placeholder { /* Firefox 18- */
          @content;
      }
      ::-moz-placeholder {  /* Firefox 19+ */
          @content;
      }
      :-ms-input-placeholder {
          @content;
      }
    }
}


/**
 * Media Queries with flattened fallback
 */

@mixin respond-min($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin respond-max($width) {
  @if $width == 480px {
    $width: 479px
  }
  @if $width == 768px {
    $width: 767px
  }
  @if $width == 940px {
    $width: 939px
  }

  @media (max-width: $width) {
    @content;
  }
}

@mixin respond-min-max($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}