.Page-about {
  .Sitehead-cover {
    background-color: #678548;
  }
}





.About {
  padding: #{$section-spacing-mobile - 20px} 0 $section-spacing-mobile;
  p:last-child {
    margin-bottom: 0;
  }
}
@include respond-min(800px) {
  .About {
    padding: #{$section-spacing - 20px} 0 $section-spacing;
    animation: fadein 1000ms $nice-easing 1;
  }
}






@include respond-min(1600px) {
  .AboutSection {
    font-size: 1.2em;
  }
}

.AboutSection-head {
  text-align: left;
  background: $blue;
  color: #fff;
  padding: #{$section-spacing / 2} 0;

}
@include respond-max(800px) {
  .AboutSection-head {
    padding: #{$section-spacing-mobile / 2} 0;
  }
}

.AboutSection-title {
  font-size: 5em;
}
@include respond-max(800px) {
  .AboutSection-title {
    font-size: 2em;
  }
}

.AboutSection-subTitle {
  max-width: 700px;
  letter-spacing: 1px;
  font-weight: 400;
}

.AboutSection-inner {
  padding: $section-spacing 0;
  @include respond-max(800px) {
    padding: #{$section-spacing-mobile / 2} 0;
  }
}




.AboutSection-inner a,
.Library-foot a {
  position: relative;
  color: #000;
  border: 0;
  display: inline-block;
  @include hoverLink;
  &:hover {
    color: $text;
  }
}








.Library-title {
  font-size: 1.2em;
  margin-bottom: 1em;
}


.Library-item {
  @extend %clearfix;
  font-family: $serif;
}

.Library-item:not(:last-child) {
  margin-bottom: 50px;
}

.Library-item a,
.Library-itemTitle {
  font-family: $sansserif;
}

.Library-itemTitle {
  font-size: 1.2em;
}

.Library-itemImage {
  float: left;
  max-width: 100px;
  margin: 0 .8em 0 0;
}




.Library-foot {
  width: 100%;
  margin-bottom: $section-spacing !important;
  font-size: .9em;
  font-family: $serif;
  text-align: center;

  @include respond-max(800px) {
    text-align: left;
    margin: 0 auto $section-spacing-mobile;
  }
}







.LinkList {
  a {
    font-size: 1.1em;
    border: 0;
    padding: .5em .1em;
    &:after {
      bottom: .5em;
    }
  }
  h3 {
    margin-bottom: .5em;
  }

  @include respond-max(800px) {
    padding-top: 50px;

    > .LinkList-list {
      width: 44%;
      float: left;
      margin-right: 0;
      &:nth-child(2n-1) {
        margin-right: 6%;
      }
    }
  }

  @include respond-max(500px) {
    > .LinkList-list {
      width: 100%;
      margin: 0 0 2em !important;
    }
  }
}

.LinkList-list:not(:last-child) {
  margin-bottom: 50px;
}







/* Resume */

.Resume {
  padding-bottom: $section-spacing;

  @include respond-max(800px) {
    padding-bottom: $section-spacing-mobile;
  }
}

.Resume-title {
  font-size: 1.2em;
}

.Resume ol {
  list-style: decimal inside;
}


.Resume li {
  margin-top: .5em;
  &:first-child {
    margin-top: 0;
  }
}

.Resume-date {
  color: #999;
  font-weight: 300;
  font-size: .75em;
  margin-left: .5em;
}

.Resume-left {
  ul {
    margin-top: 0;
  }
  li {
    margin: 0 0 1.5em;
  }
}

.Resume-right .Resume-title {
  margin-bottom: .5em;
}










.PrintButton {
  display: inline-block;
  padding: 1em 1.5em;

  color: $blue;
  letter-spacing: 2px;
  box-shadow: $blue 4px 4px;
  border: 2px solid $blue;

  &:after {
    content: normal;
  }

  &:active {
    transform: translate(4px, 4px);
    box-shadow: $blue 0 0;
  }
}

@include respond-max(800px) {
  .PrintButton-link {
    padding: .7em 1em;
  }
}
