.Page-about {
  .Sitehead-cover {
    background-color: #678548;
  }
}

.About {
  padding: #{$section-spacing-mobile - 20px} 0 $section-spacing-mobile;
  h1 {
    font-size: 2em;
    margin-bottom: .4em;
  }
  p:last-child {
    margin-bottom: 0;
  }

  @include respond-min(800px) {
    padding: #{$section-spacing - 20px} 0 $section-spacing;
    .u-wrapper {
      animation: fadein 1000ms $nice-easing 1;
    }
    h1 {
      margin-bottom: 1em;
    }
  }
}



.Resume, .Library {
  header {
    text-align: left;
    background: $blue;
    color: #fff;
    padding: #{$section-spacing / 2} 0;
    p {
      max-width: 700px;
      letter-spacing: 1px;
    }
  }
  h3 {
    font-size: 5em;
  }
  a {
    position: relative;
    color: $text;
    border: 0;
    display: inline-block;
    @include hoverLink;
  }
  @include respond-min(1600px) {
    font-size: 1.2em;
  }
  @include respond-max(800px) {
    header {
      padding: #{$section-spacing-mobile / 2} 0;
    }
    h3 {
      font-size: 2em;
    }
  }
}



.Library {
  .u-wrapper {
    max-width: 1280px;
  }
  h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  img {
    float: left;
    max-width: 100px;
    margin: 0 .8em 0 0;
  }
  article {
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
    h1 {
      font-size: 1.2em;
    }
  }
  p {
    font-family: $serif;
  }
  footer {
    width: 100%;
    margin-bottom: $section-spacing;
    font-size: .85em;
    text-align: center;
  }
  @include respond-max(800px) {
    article:last-child {
      margin-bottom: 2em;
    }
    footer {
      margin: 0 auto $section-spacing-mobile auto;
    }
  }
}

.Library-inner {
  padding: $section-spacing 0;
  @include respond-max(800px) {
    padding: #{$section-spacing-mobile / 2} 0;
  }
}

.Library-websites {
  a {
    font-size: 1.1em;
    border: 0;
    padding: .5em .1em;
    font-weight: 300;
    &:after {
      bottom: .5em;
      height: 1px;
    }
  }
  h4 {
    margin-bottom: .5em;
  }
  @include respond-max(900px) {
    margin-top: 2em;
    width: 100%;
    float: none;
    > .col {
      width: 29%;
      float: left;
      margin-right: 6.5%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include respond-max(600px) {
    > .col {
      width: 44%;
      float: left;
      margin-right: 0;
      &:first-child {
        margin-right: 6%;
      }
      &:last-child {
        width: 100%;
        float: none;
        margin: 0;
      }
    }
  }
  @include respond-max(380px) {
    > .col {
      width: 100%;
      margin: 0 0 2em 0;
      float: none;
    }
  }
}



.Resume {
  padding-bottom: $section-spacing;
  h4 {
    font-size: 1.2em;
  }
  ol {
    list-style: decimal inside;
  }
  li {
    margin-top: .5em;
    &:first-child {
      margin-top: 0;
    }
  }
  p, li {
    font-family: $serif;
    h5 {
      font-family: $sansserif;
    }
  }
  .date {
    color: #999;
    font-weight: 300;
    font-size: .75em;
    margin-left: .5em;
  }
  @include respond-max(800px) {
    padding-bottom: $section-spacing-mobile;
  }
}

.Resume-inner {
  padding: $section-spacing 0;
  @include respond-max(800px) {
    padding: #{$section-spacing-mobile / 2} 0;
  }
}

.Resume-left {
  li {
    margin: 0 0 1.5em 0;
  }
}

.Resume-right {
  h4 {
    margin-bottom: .5em;
  }
}




.Printlink {
  width: 95%;
  margin: 0 auto;
  text-align: center;

  a {
    display: inline-block;
    padding: .75em 2em;
    
    color: $blue;
    letter-spacing: 2px;

    box-shadow: $blue 4px 4px;
    border: 2px solid $blue;

    &:active {
      transform: translate(4px, 4px);
      box-shadow: $blue 0 0;
    }

    &:after {
      content: normal;
    }
  }
}
