#portfolio {
  overflow: hidden;
}

.work {
	padding: 7em 0 4.5em 0;
	@extend %clearfix;
	background: #167ea3;
	color: #fff;
	img {
		display: block;
		margin: 0 auto;
		max-width: 1140px;
		width: 100%;
	}
	.work-info {
		width: 95%;
		margin: 0 auto;
		max-width: 1040px;
	}
	h1 {
		font-size: 2em;
		margin: 1em 0 .5em 0;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
	}
	p {
		text-align: left;
		font-size: 1.2em;
	}
	.info {
		width: 100%;
		margin: 4em auto 0 auto;
		@extend %clearfix;
		p{
			margin: 0 0 0 1.5em;
			display: inline;
			text-align: center;
			&:first-child {
				margin: 0;
			}
		}
		.visit {
			text-align: center;
			display: inline-block;
			float: right;
			position: relative;
			top: -15px;
			padding: 1.1em 1.6em;
			line-height: 1;
			font-size: 1.2em;
			border-radius: 5px;
			letter-spacing: 1px;
			color: #fff;
			@include transition(box-shadow 300ms ease);
			&:hover {
				box-shadow: rgba(0,0,0,.2) 0 1px 2px;
			}
			&:active {
				box-shadow:inset rgba(0,0,0,.2) 0 1px 3px;
			}
		}
	}
}

.daytona {
  background: $daytona;
  padding: 6em 0 !important;
  color: #fff;
  .wrapper {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
    @extend %clearfix;
  }
  .daytona-link {
    display: block;
    width: 20%;
    max-width: 200px;
    margin: 0 5% 1em 0 !important;
    float: left;
    &:hover {
      padding: 0;
    }
  }

  .info, .daytona-link {
    float: left;
  }

  .info {
    width: 75%;
  }

  p {
    margin: 0 !important;
  }
  a {
    font-weight: 600;
    padding-bottom: 1px;
    color: #fff;
    letter-spacing: 1px;
  }
  @include respond-max(800px) {
    .info, .daytona-link {
      float: none;
      width: 100%;
    }
  }
}

.coop {
	background: #14ab30;
	a {
		background: #1bcc36;
	}
}

.arkdes {
	background: $yellow;
	@include background(linear-gradient(#f7cd25 10%,#f1c40f 65%));
	.info {
		height: auto;
		margin-bottom: 10px;
		.visit {
			background: #fafafa;
			color: #333;
		}
	}
	.app-links {
		float: right;
	}
	.app-store, .google-play {
		display: inline-block;
		width: 135px;
		height: 50px;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-align: center;
		margin: 0 10px;
	}
	.app-store {
		background: url(images/app-store.svg) no-repeat center center;
		background-size: 135px;
		margin-right: 25px;
	}
	.google-play {
		background: url(images/google-play.svg) no-repeat center center;
		background-size: 135px;
	}
}

.comai {
	background: #e87325;
	@include background-image(linear-gradient(#f68428, #e87325));
	a {
		background: #ffb031;
	}
}

.brf {
	background: #05b7df;
	@include background-image(linear-gradient(#05b7df, #1abee3));
	a {
		background: #3acdee;
	}
}

.nordiska {
	background: #1789b2;
	@include background-image(linear-gradient(#1d91bb 10%,#1789b2 65%));
	a {
		background: #1a587c;
	}
}

.bar {
	background: #72caf2;
	@include background-image(linear-gradient(#8edbff 10%, #5cccff 85%));
	a {
		background: #f2652c;
	}
}

.manscentrum {
	background: #d50b0b;
	@include background-image(linear-gradient(#f00, #d50b0b));
	.info .visit {
		color: #d50b0b;
		background: #fff;
	}
}

.artonglass {
	color: #333;
	background: #eee;
	@include background(linear-gradient(bottom, #d5d7db 10%, #dfe2e5 98%, #d5d7db 100%) no-repeat);
	a {
		background: #222;
	}
}