.work {
	padding: 8em 0 6em 0;
	@extend %clearfix;
	background: #167ea3;
	color: #fff;
	img {
		display: block;
		margin: 0 auto;
		max-width: 1140px;
		width: 100%;
	}
	.work-info {
		width: 95%;
		margin: 0 auto;
		max-width: 1040px;
	}
	h1 {
		font-size: 2em;
		margin: 1em 0 .5em 0;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
	}
	p {
		text-align: left;
		font-size: 1.2em;
	}
	.info {
		width: 100%;
		margin: 4em auto 0 auto;
		p{
			margin: 0 0 0 1.5em;
			display: inline;
			text-align: center;
			&:first-child {
				margin: 0;
			}
		}
		.visit {
			text-align: center;
			display: inline-block;
			float: right;
			position: relative;
			top: -15px;
			padding: 1em 1.5em;
			font-size: 1.2em;
			border-radius: 5px;
			letter-spacing: 1px;
			color: #fff;
			&:hover {
				box-shadow: rgba(0,0,0,.2) 0 1px 2px;
			}
			&:active {
				box-shadow:inset rgba(0,0,0,.2) 0 1px 3px;
			}
		}
	}
}


.coop {
	background: #18be37;
	@include background-image(linear-gradient(#18be37 10%,#14ab30 65%));
	.info {
		
		.visit {
			background: #fff;
			color: #14ab30;
		}
	}
}
.arkdes {
	background: $yellow;
	@include background-image(linear-gradient(#f7cd25 10%,#f1c40f 65%));
	.info {
		height: auto;
		margin-bottom: 2em;
		.visit {
			background: #fafafa;
			color: #333;
		}
	}
	.app-links {
		float: right;
	}
	.app-store, .google-play {
		display: inline-block;
		width: 135px;
		height: 50px;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-align: center;
		margin: 0 10px;
	}
	.app-store {
		background: url(images/app-store.svg) no-repeat center center;
		background-size: 135px;
		margin-right: 25px;
	}
	.google-play {
		background: url(images/google-play.svg) no-repeat center center;
		background-size: 135px;
	}
}

.nordiska {
	background: #1789b2;
	@include background-image(linear-gradient(#1d91bb 10%,#1789b2 65%));
	a {
		background: #1a587c;
	}
}

.comai {
	background: #e87325;
	@include background-image(linear-gradient(#f68428, #e87325));
	a {
		background: #ffb031;
	}
}

.brf {
	background: #05b7df;
	@include background-image(linear-gradient(#05b7df, #1abee3));
	a {
		background: #3acdee;
	}
}



.bar {
	background: #72caf2;
	@include background-image(linear-gradient(#8edbff 10%, #5cccff 85%));
	a {
		background: #f2652c;
	}
}

.manscentrum {
	background: #d50b0b;
	@include background-image(linear-gradient(#f00, #d50b0b));
	.info .visit {
		color: #d50b0b;
		background: #fff;
	}
}

.artonglass {
	color: #333;
	background: #eee;
	@include background(linear-gradient(bottom, #d5d7db 10%, #dfe2e5 98%, #d5d7db 100%) no-repeat);
	a {
		background: #222;
	}
}