.blog {
	background: #fff;
  main {
    margin: 3em auto;
    max-width: 700px;
    width: 95%;
    overflow: visible;
  }
  @include respond-max(840px) {
    #top {
      padding: 0;
      background-size: cover;
    }
  }
}

.entry {
	margin-bottom: 10em;
  padding-bottom: 10em;
  border-bottom: 1px solid #eee;
	position: relative;
	background: #fff;
	font-family: $helvetica;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
	header {
		background: #fff;
		@extend %clearfix;
		position: relative;
    padding-top: 1em;
		.entry-title {
			color: $green;
			font-weight: 600;
			font-size: 3em;
      line-height: 1.2;
      display: block;
		}
    h2 {
      font-size: 1.4em;
      color: #555;
      display: block;
      margin-top: .5em;
    }
   .date {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    font-size: .7em;
    text-align: right;
   }
	}
  @include respond-max(767px) {
    margin-bottom: 5em;
    padding-bottom: 5em;
    font-size: .85em;
  }
}
.entry-content {
  margin-top: 2em;
	letter-spacing: 1px;
	color: #0e0e0e;
	font-size: 1.2em;
  line-height: 1.6;
  font-family: 'Droid Serif', Georiga, serif;
	p {
		margin-bottom: 1em;
		a {
      color: #222;
			border-bottom: 2px solid #222;
      &:hover {
        color: #555;
        border-color: #555;
      }
		}
	}
  figure {
    margin: 20px 0;
  }
	img {
    display: block;
		box-shadow: rgba(0,0,0,0.2) 0 1px 3px;
	}
  figcaption {
    text-align: center;
  }
	b,strong,h1,h2,h3,h4,h5,h6 {
		font-weight: bold;
	}
  small {
    font-size: .8em;
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    margin: 1em 0 .2em 0;

  }
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.4em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1.3em;
	}
	i,em {
		font-style: italic;
	}
  li {
    margin-bottom: .5em;
  }
  @include respond-max(767px) {
    font-size: 1.1em;
  }
}




/**
 * Special posts
 */
.two-col {
  @extend %clearfix;
  .col {
    width: 50%;
    float: left;
    display: block;
  }
}

.turn img {
  @include scaleX(-1);
}


.no-webp .only-webp {
  display: none;
}

.no-webp-message {
  display: none;
  color: $red;
  margin: 4em 0;
  .no-webp & {
    display: block;
  }
}

/*
.readmore {
	padding: 20px 40px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	position: absolute;
	right: 0;
	bottom: 5px;
	&:after {
		content: "\8594";
		position: relative;
		top: 3px;
		left: 6px;
		@include transition(all .1s ease);
	}
	&:hover:after {
		left: 12px;
	}
}
.sharepost {
	padding: 30px;
	a {
		color: #999;
	}
}
*/

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;


  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}


.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}