.Page-blog {
  .Sitehead-cover {
    background-color: #48648c;
    background-position: 75% 50%;
  }
  .Sitemain {
    padding-top: $section-spacing-large;
    @include respond-max(800px) {
      padding-top: $section-spacing-mobile;
    }
  }
}




.Excerpt {
  position: relative;
  margin-bottom: #{$section-spacing-large * 2};

  &:after {
    position: absolute;
    bottom: -#{$section-spacing-large};
    left: 0;

    content: "";

    width: 100%;
    height: 1px;
    display: block;

    background: $green;
  }

  &:last-child {
    margin-bottom: $section-spacing-large;
    &:after {
      content: normal;
    }
  }

  a {
    transition: all 150ms ease;
    display: block;
    &:hover {
      opacity: .9;
      transform: scale(1.01);
    }
    &:active {
      opacity: .8;
      transform: scale(1);
    }
  }

  @include respond-max(800px) {
    margin-bottom: $section-spacing-mobile;
    font-size: .9em;
  }
}


.Excerpt-title {
  position: relative;
  font-size: 2.5em;
  color: $text;
  margin: 0 !important;

  @include respond-max(800px) {
    font-size: 1.5em !important;
  }
}

.Excerpt-meta {
  margin-top: .5em;
  p {
    color: #b3b3b1;
    font-size: .8em;
    font-family: $sansserif;
    margin-bottom: 1em;
  }
}

.Excerpt-entry {
  font-size: 1.3em;
  line-height: 1.2;
  transition: color 300ms ease;
  color: $text;
  font-family: $serif;

  p {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include respond-max(800px) {
    font-size: 1em;
  }
}