.Page-blog {
  .Sitemain {
    padding-top: $section-spacing-large;
    @include respond-max(800px) {
      padding-top: $section-spacing-mobile;
    }
  }
}




.Excerpt {
  margin-bottom: $section-spacing-large;

  a {
    transition: all 200ms ease;
    display: block;
    &:hover {
      opacity: .9;
      transform: scale(1.01);
    }
  }

  @include respond-max(800px) {
    margin-bottom: $section-spacing-mobile;
    font-size: .9em;
  }
}


.Excerpt-title {
  font-size: 2.5em;
  line-height: 1;
  color: $text;
  margin: 0 !important;
  @include respond-max(800px) {
    font-size: 1.5em !important;
  }
}

.Excerpt-meta {
  margin-top: .5em;
  p {
    color: #b3b3b1;
    font-size: .8em;
    font-family: $sansserif;
    margin-bottom: 1em;
  }
}

.Excerpt-entry {
  font-size: 1.3em;
  line-height: 1.2;
  transition: color 300ms ease;
  color: $text;
  font-family: $serif;

  @include respond-max(800px) {
    font-size: 1em;
  }
}