.Page-contact {
  .Sitehead-cover {
    background-position: 50% 0;
  }
  .Site-main {
    padding: #{$section-spacing / 4} 0 #{$section-spacing / 1.5};
  }
  @include respond-max(800px) {
    .Site-main {
      padding: #{$section-spacing-mobile / 4} 0 #{$section-spacing-mobile / 1.5};
    }
  }
  .Social {
    &:hover svg {
      transform: scale(1.15);
    }
    &:active svg {
      transform: scale(1);
    }
  }
}


.Contact {
  text-align: center;
  p {
    font-size: 1.2em;
    margin: 0;
  }
}


.Social {
  padding: 2em 1em;
  display: inline-block;
  svg {
    width: 50px;
    height: 50px;
    transition: transform 200ms ease;
  }

  &:active {
    opacity: .9;
  }

  @include respond-max(600px) {
    padding: 1em .5em;
    svg {
      width: 35px;
      height: 35px;
    }
  }
}


@for $i from 1 through length($social-names) {
  .Social--#{nth($social-names, $i)} {
    color: #{nth($social-colors, $i)};
    @if index(("gmail"), #{nth($social-names, $i)}) {
      position: relative;
      top: 9px;
      svg {
        width: 55px;
        height: 55px;
      }
      @include respond-max(600px) {
        top: 7px;
        svg {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}




.Contactform {
  margin: 1em auto 0;
  width: 90%;
  max-width: 600px;
  @include respond-max(800px) {
    margin: #{$section-spacing-mobile / 4} auto 0;
  }
}

.Contactform-text {
  text-align: center;
  font-size: .9em;
  margin-bottom: 1em;
  color: #666;

  button {
    position: relative;
    padding: 0 2px;
    color: #222;
    @include hoverLink;
    &:after {
      background: $blue;
    }
  }
}

.Contactform-response {
  display: none;
  padding: 1em 0 3em;
  text-align: center;
  font-size: 1.5em;
}











.Form {
  background: #fff;
  height: auto;
  border-radius: 6px;
  border: 1px solid $gray;
  margin: 0;

  transition: opacity 300ms ease;

  &.is-sent {
    opacity: .4;
  }

  @include respond-min(800px) {
    &.has-error {
      animation: shake 400ms ease-in-out;
    }
  }
  @include respond-min(1600px) {
    max-width: 800px;
  }
}

.Form-row {
  @extend %clearfix;  
}

.Form-field {
  position: relative;
  width: 100%;
  border-color: $gray;
  border-style: solid;
  border-width: 0 0 1px 0;

  .no-touchevents &:hover .Form-label {
    color: $blue;
  }
  .no-touchevents &:hover .Form-label.is-error {
    color: $red;
  }
}

.Form-label {
  position: absolute;
  top: .9em;
  left: .9em;
  color: #999;
  cursor: text;

  background: #fff;
  padding: .5em .3em 0 .3em;

  will-change: transform;
  transition: color 300ms ease, transform 250ms ease;

  pointer-events: none;

  &.is-active {
    transform: translate3d(0, -2.1em, 0);
    color: $blue;

    max-width: 94%;
    max-width: calc(100% - 2em);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    pointer-events: auto;
  }

  &.is-error {
    color: $red;
  }

  .no-js &,
  .touchevents &,
  .no-csstransforms &.is-active {
    top: -.9em;
    color: $blue;
  }

}

// Hides the ugly yellow auto-correct color in Chrome
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 400px #fff inset;
}

.Form-input {
  padding: 1.5em 1em;
  width: 100%;
  display: block;

  transition: background 200ms ease, box-shadow 0ms linear;
  outline: none;
}

.Form-input--submit {
  background: $blue;
  color: #fff;
  border-radius: .5em;
  padding: 1.5em 0;
  transition: box-shadow 200ms ease;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  &:focus {
    box-shadow: 0 0 0 3px darken($blue, 10%) inset;
  }
  &:active {
    box-shadow: 0 2px 5px darken($blue, 10%) inset;
  }
}

.Form-textarea {
  resize: vertical;
  min-height: 250px;
  transition: height 200ms ease;
  z-index: 1;

  @include respond-max(600px) {
    min-height: 200px;
  }
}
.Form-textarea--hidden {
  display: none;
  white-space: pre-wrap;
  width: 100%;
  min-height: 250px;
  padding: 1.5em 1em;
  word-wrap: break-word;
  @include respond-max(600px) {
    min-height: 200px;
  }
}

.Form-field--small {
  border-width: 1px;
  margin-top: 1.15em;
}

.Form-field--submit {
  padding: 1em;
  font-size: .8em;
  border-bottom-width: 0;
}



@include respond-min(600px) {
  .Form-field--half {
    width: 50%;
  }
  .Form-field--left {
    float: left;
  }
  .Form-field--right {
    float: right;
    border-left-width: 1px;
  }
  .Form-field--full {
    clear: both;
  }
}











/**
 * Extended form
 */
.Expandable {
  display: none;
}