.no-scroll {
  &,
  .Site-body{
    overflow: hidden;
  }
}

.Page-fourothree,
.Page-fourofour,
.Page-fivehundred {

  .Navigation-toggle,
  .Sitehead-logo {
    transition: opacity 200ms ease;
    opacity: .2;
    .no-touch &:hover {
      opacity: 1;
    }
    .touch &:active {
      opacity: 1;
    }
  }

  @include respond-min(800px) {
    .Navigation {
      transition: opacity 200ms ease;
      opacity: .2;
      .no-touch &:hover {
        opacity: 1;
      }
      .touch &:active {
        opacity: 1;
      }
    }
  }

  .Sitehead {
    min-height: 0;
    max-height: none;
    height: auto;
    background: transparent;
    z-index: 3;
  }

  .Sitehead-logo {
    position: static;
  }

  .Site-main {
    height: 100%;
    background: #111;
    color: #fff;

    position: absolute;
    top: 0;
    width: 100%;
  }

  .Sitehead-logo,
  .Navigation a,
  .Navigation-toggle {
    color: #fff;
  }

  .Navigation-toggle {
    border-color: #fff;
    right: 0;
  }

  @include respond-max(800px) {
    .Navigation {
      opacity: 1;
      a {
        color: #fff;
      }
    }
  }
}




.Page-fourothree {
  .Fourofour {
    width: 100%;
  }
}



@keyframes animatedBackground {
  0% {background: $blue;}
  15% {background: $blue;}
  20% {background: $green;}
  35% {background: $green;}
  40% {background: $yellow;}
  55% {background: $yellow;}
  60% {background: $red;}
  75% {background: $red;}
  80% {background: $orange;}
  95% {background: $orange;}
  100%{background: $blue;}
}

.Page-fivehundred {
  .Site-main {
    animation: animatedBackground 20000ms linear infinite normal;
  }
  #canvas {
    height: calc(100% - 100px);
    top: calc(0px + 100px);
  }
  .Fourofour {
    font-size: 1em;
    h1 {
      font-size: 2em;
    }
  }
  rect {
    cursor: pointer;
  }
}








#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.Fourofour {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 99;

  text-align: center;

  font-size: .5em;
}

.Space-actions {
  position: fixed;
  bottom: 20px;
  right: 0;

  display: none;

  .has-options & {
    display: block;
  }

  a {
    padding: 10px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    margin-right: 10px;

    opacity: .2;
    transition: opacity 200ms ease;

    &:hover {
      opacity: 1;
    }
  }
  
}