.Page-fourofour {
  .Sitehead {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    overflow: visible;
    width: 100%;
    min-height: 0;
  }

  @include respond-max(800px) {
    .Navigation {
      background: #fff;
      a {
        color: $red;
        &.is-active span {
          border-bottom: 3px solid $red;
        }
      }
    }
  }
}




.fourofour-wrapper,
.fourofour {
  position: relative;
  background: $red;
  width: 100%;
  height: 100%;
  overflow: hidden;
}