.Page-fourofour {
  .Sitehead {
    min-height: 0;
    max-height: none;
    height: auto;
    background: transparent;
    z-index: 3;
  }

  .Sitehead-logo {
    position: static;
  }

  .Sitemain {
    height: 100%;
    background: #111;
    color: #fff;

    position: absolute;
    top: 0;
    width: 100%;
  }

  .Sitehead-logo,
  .Navigation a,
  .Navigation-toggle {
    color: #fff;
  }

  .Navigation-toggle {
    border-color: #fff;
  }

  @include respond-max(800px) {
    .Navigation {
      a {
        color: #fff;
      }
    }
  }
}


#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.Fourofour {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 99;

  font-size: .5em;
}