/**
 * Styles specific to front page.
**/

.Page-front {

  .Sitehead {
    height: 100%;
    max-height: 1600px;
    background: $red;
  }

  .Sitehead-inner {
    top: auto;
    bottom: 25%;
    max-width: 1100px;
  }

  .Sitehead-title,
  .Sitehead-subtitle {
    margin: 0;
    font-weight: 600;
  }

  .Sitehead-title {
    animation: none !important;
  }

  .Sitehead-subtitle {
    font-size: 1.8em;
  }

  .Sitehead-link {
    position: absolute;
    left: 0;
    top: 130%;

    display: inline-block;
    margin-top: 2em;
    padding-right: 1em;

    font-size: .6em;
    opacity: 0;
  }

  .Sitehead-link svg {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
  }

  .Site-main > div,
  .Site-main > article,
  .Site-main > section {
    animation: none;
  }

  @include respond-min(800px) {
    .Sitehead-inner {
      animation: fadeinBottom 700ms $nice-easing 1;
    }
    .Sitehead-link {
      animation: fadeinBottom 1000ms ease 1;
      animation-delay: 700ms;
      animation-fill-mode:forwards;
      &:hover svg {
        animation: bounce 2000ms ease-in-out infinite;
      }
    }
  }

  @include respond-max(800px) {
    .Navigation {
      background: #fff;
      a {
        color: $red;
        &.is-active span {
          border-bottom: 3px solid $red;
        }
      }
    }
    .Sitehead {
      height: 50%;
    }
    .Sitehead-title {
      font-size: 2em;
    }
    .Sitehead-subtitle {
      font-size: 1.2em;
    }
    .Sitehead-link {
      display: none;
    }
  }

  @include respond-max(400px) {
    .Sitehead {
      height: 250px;
      min-height: 0;
    }
    .Sitehead-inner {
      position: static;
      font-size: .8em;
      margin-top: 100px;
    }
  }
}
