/**
 * Styles specific to front page.
**/

.Page-front {

  .Sitehead-cover {
    display: none;
  }

  .Sitehead {
    height: 100%;
    max-height: none;
    background: #fff;
    background: $red;
  }
  .Sitehead-inner {
    top: auto;
    bottom: 25%;

    @extend %fadeinBottom;
  }
  .Sitehead-title,
  .Sitehead-subtitle {
    margin: 0;
    font-weight: 600;
    line-height: 1.3;
  }
  .Sitehead-title {
    animation: none !important;
  }
  .Sitehead-subtitle {
    max-width: none;
    font-size: 1.8em;
    a {
      position: absolute;
      left: 0;
      top: 130%;
      width: 100%;
      display: block;

      font-size: .6em;
      margin-top: 2em;
      opacity: 0;
      animation: fadeinBottom 1000ms ease 1;
      animation-delay: 1500ms;
      animation-fill-mode:forwards;
      &:hover span {
        @extend %bounce;
      }
    }
    span {
      display: inline-block;
      &:before {
        top: 0;
        left: .5em;
        font-size: .7em;
      }
    }
  }
  @include respond-max(800px) {
    .Navigation {
      background: #fff;
      a {
        color: $red;
        &.is-active span {
          border-bottom: 3px solid $red;
        }
      }
    }
    .Sitehead-inner {
      font-size: .8em;
      top: 35%;
    }
    .Sitehead-subtitle {
      a {
        text-align: center;
      }
    }
  }

}