.contact {
	width: 90%;
	margin: 5em auto;
	h3 {
		text-align: center;
		font-size: 2em;
	}
}

.social {
	text-align: center;
	margin: 50px 0;
	a {
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		width: 50px;
		height: 50px;
		display: inline-block;
		margin: 0 20px;
		@include transition(all .2s ease);
		&:hover {
			@include scale(1.4);
		}
	}
	.email {
		background: url(images/ommig/email.svg) no-repeat;
	}
	.twitter {
		background: url(images/ommig/twitter.svg) no-repeat;
	}
	.github {
		background: url(images/ommig/github.svg) no-repeat;
	}
	@media only screen and (min-width: 600px) {
		a {
			margin: 0 50px;
		}
	}
}

form {
	font-size: 1.7em;
	max-width: 700px;
	margin: 2em auto;
	line-height: 2;
	@extend %clearfix;
	label {
		cursor: pointer;
	}
	input {
		text-align: left;
		border-bottom: 3px solid #222;
		font-weight: 700;
		width: 430px;
	}
	input[type="text"] {
		margin-left: 8px;
	}
	input[type="email"] {
		margin-left: 9px;
	}
	textarea {
		display: block;
		width: 100%;
		border: 3px solid #222;
		padding: 15px 20px;
		margin-top: 1em;
		min-height: 300px;
		vertical-align: top;
		font-weight: 700;
		line-height: 1.3;
		resize: vertical;
		&::-webkit-scrollbar {
		  width: 10px;
		}
		&::-webkit-scrollbar-track {
		  background: #eee;
		}
		&::-webkit-scrollbar-thumb {
			background: #333;
		}
	}

	input[type="submit"] {
		position: relative;
		width: 170px;
		height: 60px;
		float: right;

		margin: 20px 0 0 0;
		padding: 0;

		background: #fff;
		border: 3px solid #222;
		box-shadow: #222 4px 4px 0;
		cursor: pointer;

		text-align: center;
		text-transform: uppercase;
		line-height: 2.2;

		//@include transition(all .1s ease);

		&:active {
			box-shadow: none;
			left: 4px;
			top: 4px;
			//border: 3px solid #222;
		}
	}
	.needsfilled {
		color: $red;
		font-weight: 700;
	}
	&.english {
		input[type="email"] {
			margin-left: 16px;
		}
	}
}