#contact {
	margin: 5em 0;
	h3 {
		text-align: center;
		font-size: 2em;
	}
}
.social {
	text-align: center;
	margin: 50px 0;
	a {
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		width: 50px;
		height: 50px;
		display: inline-block;
		margin: 0 20px;
		@include transition(all .2s ease);
		&:hover {
			@include scale(1.4);
		}
	}
	.email {
		background: url(images/ommig/email.svg) no-repeat;
	}
	.twitter {
		background: url(images/ommig/twitter.svg) no-repeat;
	}
	.github {
		background: url(images/ommig/github.svg) no-repeat;
	}
	@media only screen and (min-width: 600px) {
		a {
			margin: 0 50px;
		}
	}
}

@include placeholder {
	color: $red;
}

form {
	font-size: 1.7em;
	max-width: 700px;
	margin: 2em auto;
	@extend %clearfix;
	line-height: 2;
	.sent {
		text-align: center;
		font-size: 1.5em;
		line-height: 1.2;
		min-height: 320px;
	}
	label {
		cursor: pointer;
	}
	input {
		text-align: left;
		border-bottom: 3px solid #222;
		font-weight: 700;
		@include transition(all .1s linear);
		width: 430px;
		&:invalid {
	    box-shadow: none;
		}
	}
	textarea {
		display: block;
		width: 100%;
		border: 3px solid #222;
		padding: 15px 20px;
		margin-top: 1em;
		min-height: 300px;
		vertical-align: top;
		@include transition(height .2s linear);
		font-weight: 700;
		line-height: 1.3;
		&::-webkit-scrollbar {
		  width: 10px;
		}
		&::-webkit-scrollbar-track {
		  background: #eee;
		}
		&::-webkit-scrollbar-thumb {
			background: #333;
		}
	}
	.needsfilled {
		color: $red;
		font-weight: 700;
	}
}

#name {
	margin-left: 8px;
}
#phone {
	margin-left: 0px;
}
#email {
	margin-left: 9px;
}
#submit {
	width: 170px;
	height: 60px;
	line-height: 2.1;

	padding: 0;

	margin: 20px 0 0 0;
	background: #fff;
	border: 3px solid #222;
	text-align: center;
	box-shadow: #222 4px 4px 0;
	float: right;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	@include transition(all .1s ease);
	&:active {
		box-shadow: none;
		left: 4px;
		top: 4px;
		border: 4px solid #222;
	}
}

#contact-form.english {
	#phone {
		margin-left: 12px;
	}
	#email {
		margin-left: 16px;
	}
}

.no-svg #contact .social {
	.email {
		background: url(images/ommig/email.png) no-repeat;
	}
	.twitter {
		background: url(images/ommig/twitter.png) no-repeat;
	}
	.github {
		background: url(images/ommig/github.png) no-repeat;
	}
}