@include keyframes(cv){
	0%,100%{left:0px}
	50%{left:24px}
}


#ommig {
	max-width: 1000px;
	width: 90%;
	margin: 5em auto;
	h3 {
		font-size: 2em;
		margin: 2em auto .5em auto;
	}
	p {
		margin: 0 auto;
		font-size: 1.5em;
		a {
			color: #666;
		}
	}
	img {
		float: right;
		width: 300px;
		@include rotate(2deg);
		border-radius: 50%;
		@include transition(all .3s ease);
		margin: 20px 0 5px 15px;
		box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
		&:hover {
			@include scale(1.5);
			border-radius: 0px;
			box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
		}
	}
	.cv {
		display: inline-block;
		font-weight: 700;
		padding: 0;
		line-height: 1;
		font-size: 1.3em;
		margin: 2em 0 0 0;
		&:after {
			content: "→";
			position: relative;
			top: 3px;
			margin-left: 8px;
		}
		&:hover:after {
			-webkit-animation: cv .8s 0 linear infinite normal;
			animation: cv .8s linear infinite normal;
		}
	}
}


#recommend {
	margin: 15em 0 5em 0;
	h3 {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		font-size: 2em;
	}
	.container {
		max-width: 1300px;
		width: 90%;
		margin: 2em auto;
		@extend %clearfix;
	}
	.col {
		width: 31%;
		display: inline-block;
		float: left;
		margin-right: 5%;
		article {
			@extend %clearfix;
			margin-bottom: 2em;
		}
		h4 {
			font-weight: 700;
			margin-bottom: .5em;
		}
		h5 {
			font-size: 1.5em;
		}
		&:last-child {
			margin: 0;
			width: 25%;
		}
		p {
			font-size: 1.1em;
		}
		.more {
			font-weight: 700;
			border-bottom: 2px solid #333;
			margin-top: 5px;
			display: inline-block;
			padding-bottom: 1px;
			line-height: 1;
			@include transition (all .08s linear);
			&:hover {
				padding-bottom: 4px;
				margin-bottom: -2px;
				border-color: #000;
			}
		}
	}
	.websites, .inspiration {
		width: 23%;
		h4 {
			margin-bottom: .7em;
		}
		a {
			display: block;
			font-size: 1.5em;
			padding: 10px 0;
			@include transition(padding .1s linear);
			&:hover {
				padding-left: 10px;
			}
		}
	}
	.inspiration {
		float: left;
		h4 {
			margin-top: 1em;
			font-weight: 700;
		}
	}
	.recommend-info {
		display: block;
		margin: 5em auto 0 auto;
		text-align: center;
		width: 80%;
		a {
			font-weight: 700;
			border-bottom: 2px solid #333;
			padding-bottom: 1px;
			@include transition(padding .1s linear);
			&:hover {
				padding-bottom: 4px;
			}
		}
	}
	span {
		display: inline-block;
		float: left;
		background-size: 100px;
		width: 100px;
		box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
	}
}


.thebigwebshow {
	background: url(images/ommig/the-big-web-show.jpg) no-repeat;
	height: 78px;
	margin: 5px 8px 0 0;
}
.thewebahead {
	background: url(images/ommig/the-web-ahead.jpg) no-repeat;
	height: 79px;
	margin: 5px 8px 0 0;
}

.shoptalk {
	background: url(images/ommig/shoptalkshow.png) no-repeat;
	background-position: center center;
	height: 100px;
	margin: -4px 8px 0 0;
	box-shadow: none !important;
}

.themanual {
	background: url(images/ommig/themanual.jpg) no-repeat;
	height: 65px;
	margin: 7px 10px 0 0;
}

.conversations {
	background: url(images/ommig/conversations.jpg) no-repeat;
	height: 143px;
	margin: 7px 10px 0 0;
}

.designisajob {
	margin: 5px 12px 0 0;
	height: 154px;
	background: url(images/ommig/design-is-a-job.svg) no-repeat;
	.no-svg & {
		background: url(images/ommig/design-is-a-job.jpg) !important;
	}
}