.Page-post {
  .Sitehead-inner {
    max-width: 1140px;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-35%);
  }
  .Sitehead-title {
    margin-bottom: .2em;
  }
  .Site-main {
    padding-top: 0;
  }
  @include respond-max(800px) {
    .Sitehead-title {
      font-size: 2.5em;
    }
  }
}


.Sitehead-datetitle {
  animation: fadeinBottom 700ms $nice-easing 1;
}


.Blog-entry {
  padding-top: $section-spacing-mobile / 2;

  hr {
    margin: $section-spacing-mobile / 2 0;
  }

  @include respond-min(800px) {
    padding-top: $section-spacing;
    animation: fadein 1000ms $nice-easing 1;
    hr {
      margin: $section-spacing 0;
    }
  }
  @include respond-min(1600px) {
    padding-top: $section-spacing-large;
    hr {
      margin: $section-spacing-large 0;
    }
  }
}
