$post-names: ("loop-scroll", "favorite-talks", "honor-dnt", "using-webp-images", "smooth-scrolling-with-css", "take-10-and-learn-typography");
$post-colors: ($blue, $orange, $pink,  $green, $blue, $red);

@for $i from 1 through length($post-names) {
  .Post--#{nth($post-names, $i)} .Sitehead {
    background: #{nth($post-colors, $i)};
  }
}

.Post--using-webp-images {

  // No WebP support
  .no-webp &, .no-js & {
    .no-webp-info {
      color: $red;
      text-align: center;
      font-size: 1.2em;
    }
    .webp-images {
      display: none;
    }
  }

  // WebP support
  .webp & {
    .no-webp-info {
      display: none;
    }
    .webp-images {
      @extend %clearfix;
      text-align: center;
    }
    .col {
      width: 50%;
      float: left;
      margin: $section-spacing 0;

      color: #999;
      font-style: italic;
      font-family: $serif;
      a {
        display: block;
      }
      img {
        margin: 0;
      }
    }

    @include respond-max(900px) {
      .col {
        float: none;
        width: 100%;
      }
    }
  }
}
