.Page-post {
  .Sitehead-inner {
    max-width: none;
    transform: translateY(-35%);
  }
  .Sitehead-title {
    margin-bottom: .2em;
  }
  .Sitehead-subtitle {
    margin: -.2em 0 1em;
  }
  .Sitemain {
    padding-top: 0;
  }
  @include respond-max(800px) {
    .Sitehead-title {
      font-size: 2.5em;
    }
  }
}






.Blog-entry {
  padding-top: $section-spacing-mobile / 2;

  @include respond-min(800px) {
    padding-top: $section-spacing;
    animation: fadein 1000ms $nice-easing 1;
  }
  @include respond-min(1600px) {
    padding-top: $section-spacing-large;
  }
}


.Entry-code {
  width: 90%;
  max-width: 1000px;
  margin: $section-spacing auto !important;
  font-size: .8em;
  padding: 1.4em 2em !important;
  border-radius: 3px;
  overflow: auto;
  @include respond-min(1600px) {
    margin: $section-spacing-large auto !important;
  }
  @include respond-max(800px) {
    margin: $section-spacing-mobile auto !important;
  }
}


.Entry-images {
  margin: $section-spacing 0;

  @include respond-min(1600px) {
    margin: $section-spacing-large 0;
  }
  @include respond-max(800px) {
    margin: $section-spacing-mobile 0;
  }
}