/*
.search-page {
  .Sitehead {
    background-image: url("#{$images}/blog/header.jpg");
  }
  .search-bar {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: 0 auto 5% auto;
    padding: 1em;
    border: 1px solid $text;
  }
}
.searchForm {
  width: 90%;
  margin: 5% auto;
  max-width: 500px;
  form {
    width: 100%;
  }
  input {
    display: inline-block;
    padding: 1em;
    border: 1px solid $text;
  }
  input[type="text"] {
    width: 80%;
    border-right: 0;
  }
  input[type="submit"] {
    width: 20%;
    &:hover {
      background: $text;
      color: #fff;
    }
  }
}
#lunr-results {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  a {
    padding: 5% 0;
    display: block;
  }
}
*/