.Page-work {

  .Sitehead {
    //height: auto;
    color: #fff;
    a {
      color: #fff;
    }
  }

  .Sitehead-logo, .Navigation {
    @extend %fadeinTop;
  }

  .Sitehead-inner {
    width: 75%;
    max-width: 675px;
    animation: none;
    margin: 0;

    top: 60%;
    transform: translateY(-50%);
    a {
      display: inline-block;
      padding: .65em 0;
      font-size: 1.1em;
      @extend %fadein;
      letter-spacing: 3px;
    }

    .no-csstransforms & {
      top: 30%;
    }

  }

  .Sitehead-title {
    animation: none !important;
  }

  .Sitehead-cover {
    background-position: 50% 0;
    opacity: 1;
  }

  @include respond-min(1600px) {
    .Sitehead-inner {
      max-width: 800px;
      font-size: 1.2em;
    }
  }

  @include respond-max(800px) {
    .Sitehead-cover {
      background-position: 50% 50%;
    }
    .Sitehead-inner {
      text-shadow: rgba(0,0,0,.2) 0 1px 2px;
    }
  }

  @include respond-max(660px) {
    .Sitehead-inner {
      width: 100%;
      max-width: none;
      a {
        font-size: .9em;
        letter-spacing: 1px;
      }
    }
  }

  @include respond-max(500px) {
    .Sitehead-inner {
      width: 100%;
    }
  }

}







.Work {
  position: relative;
  padding-top: 5%;
  @extend %fadein;
  .u-wrapper {
    max-width: 700px;
  }
  h1,h2,a,p,ul {
    margin-bottom: 1.5em;
  }
  h3,h4,h5,h6 {
    margin-bottom: 0.25em;
  }
  p:last-child {
    margin-bottom: 0;
  }
  blockquote {
    margin: 3rem 0;
  }
  @include respond-max(800px) {
    padding-top: $section-spacing-mobile;
    .u-wrapper {
      max-width: 550px;
    }
  }
}

.Work-image {
  display: block;
  padding: 10% 0;
  img {
    margin: 0 auto;
    width: auto;
    max-height: 95%;
    max-height: 95vmin;
  }
}
/*
.Work-image--cover {
  img {
    max-width: none;
    width: 100%;
  }
}
.Work-image--medium {
  img {
    max-width: 1024px;
  }
}
.Work-image--small {
  img {
    max-width: 730px;
  }
}
*/




.Work-pushdown {
  padding-bottom: 10%; // Push down content
}





.Work-visit {
  margin: 0 auto;
  padding-top: 5%;
  text-align: center;
   > a {
    display: inline-block;
    padding: .8em 2em;
    border: 2px solid $text;
    letter-spacing: 2px;
    border-radius: 15px;
    color: $text;
    background: #fff;
    transition: background 150ms ease, color 300ms ease, transform 200ms;

    &:hover {
      transform: scale(1.08);
    }
  }
  @include respond-max (600px) {
    > a {
      padding: .7em 1.8em;
      letter-spacing: 1px;
    }
    span {
      display: none;
    }
  }
  @include respond-max (400px) {
    > a {
      padding: .6em .8em;
      letter-spacing: 0;
      border-radius: 10px;
    }
  }
}



.Work-visitApps {
  text-align: center;
}

.Work-visitApps--appStore,
.Work-visitApps--googlePlay {
  display: inline-block;
  width: 180px;
  height: 50px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  margin: 0 10px;
  border: 0;

  background-size: auto 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover {
    background-size: auto 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
  }

  @include respond-max(800px) {
    .app-store, .google-play {
      height: 40px;
      width: 100%;
      margin: 0;
    }
  }
}

.Work-visitApps--appStore,
.Work-visitApps--appStore:hover {
  background-image: url("#{$images}/app-store.svg");
  .no-svg & {
    background-image: url("#{$images}/app-store.png");
  }
}

.Work-visitApps--googlePlay
.Work-visitApps--googlePlay:hover {
  background-image: url("#{$images}/google-play.svg");
  .no-svg & {
    background-image: url("#{$images}/google-play.png");
  }
}





.Work-credits {
  margin: 0 auto;
  dt, dd {
    text-align: center;
    margin: 0;
  }
  dt {
    font-weight: 600;
    &:after {
      content: ":";
    }
  }

  @include respond-min(800px) {
    dt {
      float: left;
      clear: left;
      width: 350px;
      text-align: right;
    }
    dd {
      width: 350px;
      margin: 0 0 0 380px;
      text-align: left;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}








.Work-wrapper {
  padding: 10% 0;

  blockquote {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    color: #fff;
    font-size: 1.75em;
  }
}







@for $i from 1 through length($work-names) {

  .Work--#{nth($work-names, $i)} .Sitehead-cover, .WorkItem--#{nth($work-names, $i)} {

    @if index("prophet", #{nth($work-names, $i)}) {
      background-color: #f4f4f4;
      background-position: 50% 50%;
    } @else {
      background-color: #{nth($work-colors, $i)};
    }

    @if index("prophet", #{nth($work-names, $i)}) {
      background-size: cover;
      background-position: 50% 50%;
    }

    @if index("comai", #{nth($work-names, $i)}) {
      background-image: url("/images/#{nth($work-names, $i)}/#{nth($work-names, $i)}-thumb.svg");
    } @else {
      .webp & {
        background-image: url("/webp/#{nth($work-names, $i)}/#{nth($work-names, $i)}-thumb.webp");
      }
      .no-webp & {
        background-image: url("/images/#{nth($work-names, $i)}/#{nth($work-names, $i)}-thumb.jpg");
      }
    }
  }


  /**
   * Work page
   */
  .Work--#{nth($work-names, $i)} {

    @if index("prophet", #{nth($work-names, $i)}) {
      .Navigation-toggle {
        color: $text;
        border-color: $text;
      }
      @include respond-min($threshold) {
        .Navigation a {
          color: $text;
          &:after {
            background-color: $text;
          }
        }
        .Navigation-toggle {
          border-color: $text;
        }
      }
    }

    .Sitehead {
      @if index("prophet", #{nth($work-names, $i)}) {
        background-color: #f4f4f4;
      } @else {
        background-color: #{nth($work-colors, $i)};
      }
    }

    @if index("prophet", #{nth($work-names, $i)}) {
      .Sitehead a,
      .Sitehead-inner {
        color: $text;
      }
    }

    .Work-entry {
      h1,h2,h3,h4,a,dt {
        color: #{nth($work-colors, $i)};
        border-color: #{nth($work-colors, $i)};
      }
    }

    .Work-visit > a {
      background: #fff;
      color: #{nth($work-colors, $i)};
      border-color: #{nth($work-colors, $i)};
      &:hover {
        background: #{nth($work-colors, $i)};
        color: #fff;
      }
    }

    @if index("arkdes", #{nth($work-names, $i)}) {
      @include respond-max(800px) {
        .Sitehead-inner {
          text-shadow: rgba(0,0,0,.3) 0 1px 2px;
        }
      }
    }
  }


  /**
   * Page navigation
   */
  .PageNav-item--#{nth($work-names, $i)} {
    @if index("prophet", #{nth($work-names, $i)}) {
      background: #fff;
      color: $prophet;
      border-color: $prophet;
      &:hover {
        background: $prophet;
        color: #fff;
        border-color: $prophet;
      }
    } @else {
      background: #fff;
      color: #{nth($work-colors, $i)};
      border-color: #{nth($work-colors, $i)};
      &:hover {
        background: #{nth($work-colors, $i)};
        color: #fff;
        border-color: #{nth($work-colors, $i)};
      }
    }
  }


  /**
   * Used for blockqoutes
   */
  .Work-wrapper--#{nth($work-names, $i)} {
    background: #{nth($work-colors, $i)};
  }


  /**
   * Worklist item on the front page
   */
  .WorkItem--#{nth($work-names, $i)} {
    a:hover {
      color: #{nth($work-colors, $i)};
    }
    @if index("prophet", #{nth($work-names, $i)}) {
      color: $text;
      a {
        color: $text;
        border-color: $text;
        &:hover {
          background: $text;
          color: #fff !important;
        }
        @include respond-min(800px) {
          border-color: $text;
        }
      }
    }
    @if index("nordiska", #{nth($work-names, $i)}) {
      @include respond-max(800px) {
        background-size: cover !important;
        background-position: 100% 50%;
      }
    }
  }

}