@import "compass/css3";


.login {
	min-height:400px;
	height:100%;
	background-color:#1ee38e !important;
	background-image:url(../images/hem-bg.png) !important;
	background-repeat:repeat !important;

	h1 a {
		background-image:none;
	}
	form {
	@include border-radius(10px);
	background-image:url(../images/portfolio-bg.png) !important;
		label {
			color: #444;
		}
	}
	#nav a, #backtoblog a{
	@include transition(all .3s ease);
	@include text-shadow(none);
	color: #fff !important;
		&:hover {
			color: #ddd !important;
		}
	}
}